<mat-card *ngIf="game">
  <mat-card-content>
    <mat-tab-group
      mat-stretch-tabs
      animationDuration="0ms"
      *ngIf="game"
      mat-align-tabs="center"
      [selectedIndex]="currentSet.value"
      (selectedIndexChange)="selectSet($event)"
    >
      <mat-tab *ngFor="let set of game.sets; let setIndex = index" label="{{ 'game.set' | translate }} {{ setIndex + 1 }}">
        <div class="text-center mt-3">
          <span class="text-center"
            ><mat-icon inline="true" style="vertical-align: middle"><span class="material-icons">schedule</span></mat-icon
            >{{ duration }}</span
          >
          <div class="text-center my-2 points-line">
            <span class="left-timeout">
              <i class="fa fa-circle vbr-timeout-text mr-1" *ngFor="let timeout of getTimeouts(leftTeam)"></i>
            </span>
            <span
              class="badge text-center point-badge mx-1"
              [style.background-color]="playerStyleService.getTeamBackgroundColor(game, leftTeam)"
              [style.color]="playerStyleService.getTeamTextColor(game, leftTeam)"
              [style.border-color]="playerStyleService.getTeamBorderColor(game, leftTeam)"
              [innerHTML]="getPoints(leftTeam)"
            ></span>
            <span
              class="badge text-center point-badge mx-1"
              [style.background-color]="playerStyleService.getTeamBackgroundColor(game, rightTeam)"
              [style.color]="playerStyleService.getTeamTextColor(game, rightTeam)"
              [style.border-color]="playerStyleService.getTeamBorderColor(game, rightTeam)"
              [innerHTML]="getPoints(rightTeam)"
            ></span>
            <span class="right-timeout">
              <i class="fa fa-circle vbr-timeout-text ml-1" *ngFor="let timeout of getTimeouts(rightTeam)"></i>
            </span>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
