.vbr-timeout-text {
  color: darkorange;
}

.point-badge {
  font-weight: normal;
  font-size: 2.5rem;
}

.points-line {
  display: grid;
  grid-template-columns: 35fr 15fr 15fr 35fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: start;
}

.left-timeout {
  justify-self: end;
}

.right-timeout {
  justify-self: start;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 100px !important;
}

@media screen and (max-width: 1200px) {
  .point-badge {
    font-size: 2rem;
  }

  .points-line {
    grid-template-columns: 30fr 20fr 20fr 30fr;
  }

  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 0px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
  }  
}
