<div class="modal-header">
  <h5 class="modal-title vbr-text" *ngIf="game && crudType && (crudType === 1)">Create game</h5>
  <h5 class="modal-title vbr-text" *ngIf="game && crudType && (crudType === 2)">Update game</h5>
  <h5 class="modal-title vbr-text" *ngIf="game && crudType && (crudType === 4)">View game</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="game && crudType">
  <form class="needs-validation" (submit)="onSubmitForm()" novalidate autocomplete="off">
    <div class="row mb-3">
      <div class="col-12 col-sm-10">
        <label class="vbr-text" for="schedule">Scheduled for</label>
        <input class="form-control vbr-text-color" name="schedule" id="schedule" [owlDateTime]="dtp" [owlDateTimeTrigger]="dtp" [(ngModel)]="scheduleDate" [min]="minScheduleDate"
          (keydown)="$event.preventDefault()" required [attr.disabled]="isEditingDisabled()">
        <owl-date-time #dtp></owl-date-time>
      </div>
    </div>

    <div class="mb-3">
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" type="radio" name="indexed" id="public" [value]="true" [(ngModel)]="game.indexed" [attr.disabled]="isEditingDisabled()">
        <label class="custom-control-label vbr-text" name="public" for="public">Public</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" type="radio" name="indexed" id="private" [value]="false" [(ngModel)]="game.indexed" [attr.disabled]="isEditingDisabled()">
        <label class="custom-control-label vbr-text" name="private" for="private">Private</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-sm-10">
        <label class="vbr-text" for="league">Tournament / League</label>
        <select class="vbr-text custom-select" name="league" id="league" [(ngModel)]="selectedLeague" [attr.disabled]="isEditingDisabled()" (change)="refreshDivisionsOfSelectedLeague()">
          <option *ngFor="let league of leagues" [ngValue]="league">{{league.name}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3" *ngIf="selectedLeague">
      <div class="col-12 col-sm-10">
        <label [ngClass]="undefinedDivision ? 'vbr-error-label' : ''" class="vbr-text" for="division">Pool / Division</label>
        <input type="text" [ngClass]="undefinedDivision ? 'vbr-error-input' : ''" class="vbr-text form-control" name="division" id="division" list="divisionList" [(ngModel)]="game.divisionName" required [attr.disabled]="isEditingDisabled()"/>
        <datalist id="divisionList">
          <option *ngFor="let division of divisionsOfSelectedLeague" [ngValue]="division">{{division}}</option>
        </datalist>
      </div>
      <div class="col-12">
        <div class="vbr-error-feedback" *ngIf="undefinedDivision">
          A division must be provided.
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-sm-10">
        <label [ngClass]="undefinedHTeam ? 'vbr-error-label' : ''" class="vbr-text" for="homeTeam">Home team</label>
        <select [ngClass]="undefinedHTeam ? 'vbr-error-input' : ''" class="vbr-text custom-select" name="homeTeam" id="homeTeam" [(ngModel)]="selectedHTeam" [attr.disabled]="isEditingDisabled()">
          <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}&nbsp;&nbsp;{{utils.getGenderNoIcon(team.gender)}}</option>
        </select>
      </div>
      <div class="col-12">
        <div class="vbr-error-feedback" *ngIf="sameTeams">
          Home and guest teams must be different.
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-sm-10">
        <label [ngClass]="undefinedGTeam ? 'vbr-error-label' : ''" class="vbr-text" for="guestTeam">Guest team</label>
        <select [ngClass]="undefinedGTeam ? 'vbr-error-input' : ''" class="vbr-text custom-select" name="guestTeam" id="guestTeam" [(ngModel)]="selectedGTeam" [attr.disabled]="isEditingDisabled()">
          <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}&nbsp;&nbsp;{{utils.getGenderNoIcon(team.gender)}}</option>
        </select>
      </div>
      <div class="col-12">
        <div class="vbr-error-feedback" *ngIf="sameTeams">
          Home and guest teams must be different.
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-sm-10">
        <label [ngClass]="invalidRules ? 'vbr-error-label' : ''" class="vbr-text" for="rules">Rules</label>
        <select [ngClass]="invalidRules ? 'vbr-error-input' : ''" class="vbr-text custom-select" name="rules" id="rules" [(ngModel)]="selectedRules" [attr.disabled]="isEditingDisabled()">
          <optgroup label="Default Rules" *ngIf="defaultRules">
            <option [ngValue]="defaultRules">{{defaultRules.name}}</option>
          </optgroup>
          <optgroup label="My Rules">
            <option *ngFor="let rule of rules" [ngValue]="rule">{{rule.name}}</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-sm-10">
        <label class="vbr-text" for="referee">Referee</label>
        <select class="vbr-text custom-select" name="referee" id="referee" [(ngModel)]="selectedReferee" [attr.disabled]="isEditingDisabled()">
          <optgroup label="Me" *ngIf="me">
            <option [ngValue]="me">{{me.pseudo}}</option>
          </optgroup>
          <optgroup label="My colleagues">
            <option *ngFor="let friend of user.friends" [ngValue]="friend">{{friend.pseudo}}</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="row mb-3" *ngIf="invalidResponse">
      <div class="col-12 col-sm-10">
        <p class="alert alert-danger" *ngIf="crudType === 1">
          The game could not be created.
        </p>
        <p class="alert alert-danger" *ngIf="crudType === 2">
          The game could not be updated. Is it live or completed?
        </p>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn cancel-button" *ngIf="crudType === 4" (click)="close()">Close</button>
      <button type="button" class="btn cancel-button" *ngIf="crudType !== 4" (click)="close()">Cancel</button>
      <button type="submit" class="btn vbr-button" *ngIf="crudType === 1">Create</button>
      <button type="submit" class="btn vbr-button" *ngIf="crudType === 2">Update</button>
    </div>
  </form>
</div>
