<div class="div-sign-in m-1">
  <div class="div-small-form div-card mt-4 p-4">
    <form novalidate autocomplete="off">
      <div class="div-card-title mb-3">
        <h5 class="vbr-text">Sign in to Volleyball Referee</h5>
        <img class="text-right vbr-logo" src="favicon.ico"/>
      </div>
      <hr/>
      <p class="text">If you purchased the web services package, please create your account in the app to be able to sign in here.</p>
      <div class="form-group mb-3">
        <label [ngClass]="emptyEmail ? 'vbr-error-text' : ''" class="vbr-text" for="email">Email</label>
        <input type="email" [ngClass]="emptyEmail ? 'vbr-error-input' : ''" class="vbr-text form-control" name="email" id="email" [(ngModel)]="emailCredentials.userEmail" required />
        <div class="vbr-error-feedback" *ngIf="emptyEmail">Please input an email.</div>
      </div>
      <div class="form-group mb-3">
        <label [ngClass]="emptyPassword ? 'vbr-error-text' : ''" class="vbr-text" for="password">Password</label>
        <input type="password" [ngClass]="emptyPassword ? 'vbr-error-input' : ''" class="vbr-text form-control" name="password" id="password" [(ngModel)]="emailCredentials.userPassword" required />
        <div class="vbr-error-feedback" *ngIf="emptyPassword">Please input a password.</div>
      </div>
      <div class="mb-3 vbr-error-text text-right" *ngIf="invalidResponse">Email and password do not match.</div>
      <div class="mb-3 text-right">
        <button type="submit" class="btn vbr-button" (click)="signIn()">Sign in</button>
      </div>
      <hr/>
      <div class="text-right">
        <a class="btn vbr-button-inverted" [routerLink]="getPasswordLostUrl()">Lost my password</a>
      </div>
    </form>
  </div>
  <div class="div-small-form div-card mt-4 p-4">
    <app-statistics [showUserStatistics]="false"></app-statistics>
  </div>
</div>
<div class="div-footer">
  <app-links-bar></app-links-bar>
</div>
