.game-item-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.game-item-icon {
  font-size: 1.4em;
}

.game-item-badge {
  font-size: 1em;
}

.game-item-schedule {
  margin-left: auto;
}

.game-item-title {
  font-size: 1.1em;
  color: #1f4294;
}

.game-item-title:hover {
  text-decoration: underline;
}

.item-link {
  font-weight: normal;
  color: #1f1f1f;
}

.item-link:hover {
  text-decoration: underline;
}
