<div class="card div-card text-left mx-1 my-3 p-3" *ngIf="gameSummary">
  <div class="game-item-header">
    <div class="text-left list-unstyled list-inline">
      <span class="chip vbr-live-chip list-inline-item" *ngIf="gameSummary.status === 'LIVE'"><i class="fa fa-mixcloud"></i></span>
      <span class="chip vbr-beach-chip list-inline-item" *ngIf="gameSummary.kind === 'BEACH'"><i class="fa fa-sun-o"></i></span>
      <span class="chip vbr-indoor-chip list-inline-item" *ngIf="gameSummary.kind === 'INDOOR'">6x6</span>
      <span class="chip vbr-indoor-4x4-chip list-inline-item" *ngIf="gameSummary.kind === 'INDOOR_4X4'">4x4</span>
      <span class="chip vbr-snow-chip list-inline-item" *ngIf="gameSummary.kind === 'SNOW'"><i class="fa fa-snowflake-o mr-2"></i></span>
      <span class="chip vbr-mixed-chip list-inline-item" *ngIf="gameSummary.gender === 'MIXED'"><i class="fa fa-intersex"></i></span>
      <span class="chip vbr-ladies-chip list-inline-item" *ngIf="gameSummary.gender === 'LADIES'"><i class="fa fa-venus"></i></span>
      <span class="chip vbr-gents-chip list-inline-item" *ngIf="gameSummary.gender === 'GENTS'"><i class="fa fa-mars"></i></span>
    </div>
    <span class="game-item-schedule vbr-text text-muted secondary-text">{{gameSummary.scheduledAt | date : 'dd MMM yyyy, HH:mm'}}</span>
  </div>
  <hr/>
  <div *ngIf="gameSummary.status !== 'SCHEDULED'" class="desktop interactive" [routerLink]="getMatchUrl()">
    <div class="row align-items-center">
      <a class="col-6 col-sm-6 text-left game-item-title" [routerLink]="getMatchUrl()">{{gameSummary.homeTeamName}}</a>
      <div class="col-6 col-sm-6 text-left">
        <a class="game-item-sets mx-2" [routerLink]="getMatchUrl()">{{gameSummary.homeSets}}</a>
        <span *ngFor="let homeScore of homeScores" class="ml-2 game-item-set">{{homeScore}}</span>
      </div>
    </div>
    <div class="row align-items-center">
      <a class="col-6 col-sm-6 text-left game-item-title" [routerLink]="getMatchUrl()">{{gameSummary.guestTeamName}}</a>
      <div class="col-6 col-sm-6 text-left">
        <a class="game-item-sets mx-2" [routerLink]="getMatchUrl()">{{gameSummary.guestSets}}</a>
        <span *ngFor="let guestScore of guestScores" class="ml-2 game-item-set">{{guestScore}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="gameSummary.status === 'SCHEDULED'" class="desktop">
    <a [routerLink]="getMatchUrl()" class="game-item-title interactive py-1">{{gameSummary.homeTeamName}} - {{gameSummary.guestTeamName}}</a>
  </div>
  <div class="mobile">
    <a [routerLink]="getMatchUrl()" class="game-item-title interactive py-1">
      <span>
        {{gameSummary.homeTeamName}}
        <span *ngIf="gameSummary.status !== 'SCHEDULED'" class="game-item-sets">{{gameSummary.homeSets}}</span>
        -
        <span *ngIf="gameSummary.status !== 'SCHEDULED'" class="game-item-sets">{{gameSummary.guestSets}}</span>
        {{gameSummary.guestTeamName}}
      </span>
    </a>
    <div class="vbr-text" *ngIf="gameSummary.score?.length > 0">
      <span>{{gameSummary.score}}</span>
    </div>
  </div>
  <div class="vbr-text mt-3" *ngIf="showLeague() || showDivision() || showReferee()">
    <a [routerLink]="getLeagueUrl()" *ngIf="showLeague()" class="item-link">{{gameSummary.leagueName}}</a>
    <span *ngIf="showLeague() && showDivision()" class="mx-1">/</span>
    <span *ngIf="showDivision()">{{gameSummary.divisionName}}</span>
    <br *ngIf="(showLeague() || showDivision()) && showReferee()" />
    <a [routerLink]="getTokenUrl()" *ngIf="showReferee()" class="item-link"><i class="fa fa-user mr-1"></i>by {{gameSummary.refereeName}}</a>
  </div>
</div>
