.game-item-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.game-item-schedule {
  margin-left: auto;
}

.game-item-title {
  font-size: 1.2rem;
  color: var(--vbr-primary-color);
}

.game-item-sets {
  font-size: 1.5rem;
  color: var(--vbr-primary-color);
  min-width: 24px;
}

.game-item-set {
  display: inline-block;
  color: var(--vbr-text-color);
  width: 16px;
}

.item-link {
  font-weight: normal;
  color: var(--vbr-text-color);
}

.item-link:hover {
  text-decoration: underline;
}

.interactive:hover {
  background-color: var(--vbr-light-primary-color) !important;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: underline;
}
