.game-item-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.game-item-schedule {
  margin-left: auto;
}

.game-item-title {
  font-size: 1.1rem;
  color: var(--vbr-primary-color);
}

.game-item-title:hover {
  text-decoration: underline;
}

.item-link {
  font-weight: normal;
  color: var(--vbr-text-color);
}

.item-link:hover {
  text-decoration: underline;
}
