<div class="card div-card text-left mx-1 my-3 p-3" *ngIf="gameDescription">
  <div class="game-item-header">
    <i class="fa fa-mixcloud game-item-icon vbr-live-text mr-2" *ngIf="gameDescription.status === 'LIVE'"></i>
    <i class="fa fa-sun-o game-item-icon vbr-sun-text mr-2" *ngIf="gameDescription.kind === 'BEACH'"></i>
    <span class="game-item-badge badge text-center vbr-indoor-text mr-2" *ngIf="gameDescription.kind === 'INDOOR'">6x6</span>
    <span class="game-item-badge badge text-center vbr-indoor-4x4-text mr-2" *ngIf="gameDescription.kind === 'INDOOR_4X4'">4x4</span>
    <i class="game-item-icon mr-2" [ngClass]="utils.getGenderIcon(gameDescription.gender)"></i>
    <span class="game-item-schedule vbr-text text-muted secondary-text">{{gameDescription.scheduledAt | date : 'dd MMM yyyy, HH:mm'}}</span>
  </div>
  <hr/>
  <a [routerLink]="getMatchUrl()" class="game-item-title">
    <span *ngIf="gameDescription.status !== 'SCHEDULED'">{{gameDescription.homeTeamName}} {{gameDescription.homeSets}} - {{gameDescription.guestSets}} {{gameDescription.guestTeamName}}</span>
    <span *ngIf="gameDescription.status === 'SCHEDULED'">{{gameDescription.homeTeamName}} - {{gameDescription.guestTeamName}}</span>
  </a>
  <div class="vbr-text" *ngIf="gameDescription.score && gameDescription.score.length > 0">
    <span>{{gameDescription.score}}</span>
  </div>
  <div class="vbr-text mt-3" *ngIf="showLeague() || showDivision() || showReferee()">
    <a [routerLink]="getLeagueUrl()" *ngIf="showLeague()" class="item-link">{{gameDescription.leagueName}}</a>
    <span *ngIf="showLeague() && showDivision()" class="mx-1">/</span>
    <span *ngIf="showDivision()">{{gameDescription.divisionName}}</span>
    <br *ngIf="(showLeague() || showDivision()) && showReferee()" />
    <a [routerLink]="getTokenUrl()" *ngIf="showReferee()" class="item-link"><i class="fa fa-user mr-1"></i>by {{gameDescription.refereeName}}</a>
  </div>
</div>
