<div class="card div-card text-left mx-1 my-3 p-3" *ngIf="gameSummary">
  <div class="game-item-header">
    <i class="fa fa-mixcloud game-item-icon vbr-live-text mr-2" *ngIf="gameSummary.status === 'LIVE'"></i>
    <i class="fa fa-sun-o game-item-icon vbr-beach-text mr-2" *ngIf="gameSummary.kind === 'BEACH'"></i>
    <span class="game-item-badge badge text-center vbr-indoor-text mr-2" *ngIf="gameSummary.kind === 'INDOOR'">6x6</span>
    <span class="game-item-badge badge text-center vbr-indoor-4x4-text mr-2" *ngIf="gameSummary.kind === 'INDOOR_4X4'">4x4</span>
    <i class="game-item-icon mr-2" [ngClass]="utils.getGenderIcon(gameSummary.gender)"></i>
    <span class="game-item-schedule vbr-text text-muted secondary-text">{{gameSummary.scheduledAt | date : 'dd MMM yyyy, HH:mm'}}</span>
  </div>
  <hr/>
  <a [routerLink]="getMatchUrl()" class="game-item-title">
    <span *ngIf="gameSummary.status !== 'SCHEDULED'">{{gameSummary.homeTeamName}} {{gameSummary.homeSets}} - {{gameSummary.guestSets}} {{gameSummary.guestTeamName}}</span>
    <span *ngIf="gameSummary.status === 'SCHEDULED'">{{gameSummary.homeTeamName}} - {{gameSummary.guestTeamName}}</span>
  </a>
  <div class="vbr-text" *ngIf="gameSummary.score && gameSummary.score.length > 0">
    <span>{{gameSummary.score}}</span>
  </div>
  <div class="vbr-text mt-3" *ngIf="showLeague() || showDivision() || showReferee()">
    <a [routerLink]="getLeagueUrl()" *ngIf="showLeague()" class="item-link">{{gameSummary.leagueName}}</a>
    <span *ngIf="showLeague() && showDivision()" class="mx-1">/</span>
    <span *ngIf="showDivision()">{{gameSummary.divisionName}}</span>
    <br *ngIf="(showLeague() || showDivision()) && showReferee()" />
    <a [routerLink]="getTokenUrl()" *ngIf="showReferee()" class="item-link"><i class="fa fa-user mr-1"></i>by {{gameSummary.refereeName}}</a>
  </div>
</div>
