<div class="modal-header">
  <h5 class="modal-title vbr-text">Add colleague</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="needs-validation" (submit)="onSubmitForm()" novalidate autocomplete="off">
    <div class="row mb-3">
      <div class="col-12 col-sm-10">
        <label [ngClass]="undefinedPseudo ? 'vbr-error-label' : ''" class="vbr-text" for="pseudo">Pseudo</label>
        <input type="text" [ngClass]="undefinedPseudo ? 'vbr-error-input' : ''" class="vbr-text form-control"
          name="pseudo" id="pseudo" [(ngModel)]="pseudo" placeholder="" required/>
        <div class="vbr-error-feedback" *ngIf="undefinedPseudo">
          Please enter a pseudo.
        </div>
      </div>
    </div>

    <div class="row mb-3" *ngIf="invalidResponse">
      <div class="col-12 col-sm-10">
        <p class="alert alert-danger">
          The request could not be sent. Is the pseudo valid?
        </p>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn cancel-button" (click)="close()">Cancel</button>
      <button type="submit" class="btn vbr-button">Send</button>
    </div>
  </form>
</div>
