<div class="div-user text-center" *ngIf="user">
  <ul class="my-3 list-unstyled list-inline">
    <li class="list-inline-item my-1">
      <button class="btn vbr-indoor-button" (click)="createLeague('INDOOR')">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="icon-text">Create</span>&nbsp;6x6
      </button>
    </li>
    <li class="list-inline-item my-1">
      <button class="btn vbr-beach-button" (click)="createLeague('BEACH')">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="icon-text">Create</span>&nbsp;Beach
      </button>
    </li>
    <li class="list-inline-item my-1">
      <button class="btn vbr-indoor-4x4-button" (click)="createLeague('INDOOR_4X4')">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="icon-text">Create</span>&nbsp;4x4
      </button>
    </li>
  </ul>
  <div class="my-3 mx-1 text-left" *ngIf="leagueFilter.leagues && leagueFilter.leagues.length > 0">
    <input type="text" class="form-control vbr-text mb-2" placeholder="Filter" #textFilter (input)="leagueFilter.filterFromText(textFilter)"/>
    <div class="text-left list-unstyled list-inline">
      <button class="btn chip vbr-beach-chip list-inline-item my-1" #beachButton (click)="leagueFilter.toggleBeach(beachButton)"><i class="fa fa-sun-o"></i>&nbsp;&nbsp;Beach</button>
      <button class="btn chip vbr-indoor-chip list-inline-item my-1" #indoorButton (click)="leagueFilter.toggleIndoor(indoorButton)">6x6</button>
      <button class="btn chip vbr-indoor-4x4-chip list-inline-item my-1" #indoor4x4Button (click)="leagueFilter.toggleIndoor4x4(indoor4x4Button)">4x4</button>
    </div>
  </div>
  <div *ngFor="let league of leagueFilter.filteredLeagues" class="card div-card my-3 mx-1 py-2">
    <div class="row align-items-center m-1">
      <div class="vbr-text col-12 col-sm-3 p-1 text-left">
        {{league.name}}
      </div>
      <div class="vbr-text col-6 col-sm-2 p-1 text-left">
        <a class="btn vbr-button-inverted" [routerLink]="getLeaguePublicUrl(league)" placement="top" ngbTooltip="Navigate to the public section of the tournament. Share this URL with everyone.">
          Public Page »
        </a>
      </div>
      <div class="vbr-text col-6 col-sm-1 p-1 text-center list-unstyled list-inline">
        <span class="chip vbr-beach-chip list-inline-item" *ngIf="league.kind === 'BEACH'"><i class="fa fa-sun-o"></i></span>
        <span class="chip vbr-indoor-chip list-inline-item" *ngIf="league.kind === 'INDOOR'">6x6</span>
        <span class="chip vbr-indoor-4x4-chip list-inline-item" *ngIf="league.kind === 'INDOOR_4X4'">4x4</span>
      </div>
      <div class="vbr-text col-6 col-sm-2 p-1 text-left">
        <span class="icon-text">Created on&nbsp;</span>{{league.createdAt | date : 'dd MMM yyyy, HH:mm'}}
      </div>
      <div class="vbr-text col-6 col-sm-4 p-1 text-right">
        <div class="btn-group">
          <button type="button" class="btn vbr-button-inverted" (click)="viewLeague(league)">
            <i class="fa fa-eye"></i>&nbsp;&nbsp;{{countsMap.get(league.id)}}<span class="icon-text">&nbsp;Games</span>
          </button>
          <div class="btn-group" ngbDropdown role="group">
            <button type="button" class="btn vbr-button-inverted" ngbDropdownToggle>
              <i class="fa fa-download"></i><span class="icon-text">&nbsp;&nbsp;Excel</span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button *ngFor="let divisionName of divisionsMap.get(league.id)" class="dropdown-item" (click)="downloadDivisionExcel(league, divisionName)">{{divisionName}}</button>
            </div>
          </div>
          <button type="button" class="btn vbr-button-inverted" (click)="deleteLeague(league)">
            <i class="fa fa-trash"></i><span class="icon-text">&nbsp;&nbsp;Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div-footer">
  <app-links-bar></app-links-bar>
</div>
