<div class="div-select" *ngIf="league">
  <mat-form-field class="mx-1 mt-3" appearance="outline">
    <mat-select [(ngModel)]="selectedDivision" (selectionChange)="onDivisionSelected()">
      <mat-option [value]="allDivisions">{{ 'league.all-divisions' | translate }}</mat-option>
      <mat-optgroup label="{{ 'league.divisions' | translate }}">
        <mat-option *ngFor="let division of league.divisions" [value]="division">
          {{division}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="8px" fxFlexFill>

  <mat-card fxFlex="33" fxFlex.xs="100" class="mb-2" *ngIf="games">
    <mat-card-header>
      <mat-card-title>{{ 'search.option.live' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let game of games.liveGames" class="my-3">
        <app-game-list-item [gameSummary]="game" [inLeague]="true"></app-game-list-item>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" fxFlex.xs="100" class="mb-2" *ngIf="games">
    <mat-card-header>
      <mat-card-title>{{ 'league.title.next-10' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let game of games.next10Games" class="my-3">
        <app-game-list-item [gameSummary]="game" [inLeague]="true"></app-game-list-item>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" fxFlex.xs="100" class="mb-2" *ngIf="games">
    <mat-card-header>
      <mat-card-title>{{ 'league.title.last-10' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let game of games.last10Games" class="my-3">
        <app-game-list-item [gameSummary]="game" [inLeague]="true"></app-game-list-item>
      </div>
    </mat-card-content>
  </mat-card>
  
</div>