.set-badge {
  font-weight: normal;
  font-size: 1.6rem;
}

.div-summary {
  display: grid;
  grid-template-columns: 35fr 10fr 10fr 10fr 35fr;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.team-name {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
}

@media screen and (max-width: 1200px) {
  .set-badge {
    font-size: 1.2rem;
  }

  .team-name {
    font-size: 1rem;
    line-height: 1;
  }
}
