<div class="div-user text-center" *ngIf="user">
  <div class="my-3 text-center">
    <p class="lead vbr-text" *ngIf="selectedLeague">Games of {{selectedLeague.name}}</p>
    <ul class="my-3 list-unstyled list-inline">
      <li class="list-inline-item my-1">
        <button class="btn vbr-indoor-button" (click)="createGame('INDOOR')" *ngIf="!selectedLeague || (selectedLeague.kind === 'INDOOR')">
          <i class="fa fa-plus"></i><span class="icon-text mx-2">Create</span>6x6
        </button>
      </li>
      <li class="list-inline-item my-1">
        <button class="btn vbr-beach-button" (click)="createGame('BEACH')" *ngIf="!selectedLeague || (selectedLeague.kind === 'BEACH')">
          <i class="fa fa-plus"></i><span class="icon-text mx-2">Create</span>Beach
        </button>
      </li>
      <li class="list-inline-item my-1">
        <button class="btn vbr-indoor-4x4-button" (click)="createGame('INDOOR_4X4')" *ngIf="!selectedLeague || (selectedLeague.kind === 'INDOOR_4X4')">
          <i class="fa fa-plus"></i><span class="icon-text mx-2">Create</span>4x4
        </button>
      </li>
      <li class="list-inline-item my-1">
        <button class="btn vbr-snow-button" (click)="createGame('SNOW')" *ngIf="!selectedLeague || (selectedLeague.kind === 'SNOW')">
          <i class="fa fa-plus"></i><span class="icon-text mx-2">Create</span>Snow
        </button>
      </li>
      <li class="list-inline-item my-1">
        <button class="btn cancel-button" (click)="deleteAllGames()">
          <i class="fa fa-trash"></i><span class="icon-text ml-2">Delete All</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="my-3 mx-1 text-left" *ngIf="games && games.length > 0">
    <input type="text" class="form-control vbr-text mb-2" placeholder="Filter" #textFilter (input)="gameFilter.filterFromText(textFilter)"/>
    <div class="text-left list-unstyled list-inline">
      <button class="btn chip vbr-live-chip list-inline-item my-1" #liveButton (click)="toggleLive(liveButton)"><i class="fa fa-mixcloud mr-2"></i>Live</button>
      <button class="btn chip vbr-beach-chip list-inline-item my-1" #beachButton (click)="toggleBeach(beachButton)" *ngIf="!selectedLeagueId"><i class="fa fa-sun-o mr-2"></i>Beach</button>
      <button class="btn chip vbr-indoor-chip list-inline-item my-1" #indoorButton (click)="toggleIndoor(indoorButton)" *ngIf="!selectedLeagueId">6x6</button>
      <button class="btn chip vbr-indoor-4x4-chip list-inline-item my-1" #indoor4x4Button (click)="toggleIndoor4x4(indoor4x4Button)" *ngIf="!selectedLeagueId">4x4</button>
      <button class="btn chip vbr-snow-chip list-inline-item my-1" #snowButton (click)="toggleSnow(snowButton)" *ngIf="!selectedLeagueId"><i class="fa fa-snowflake-o mr-2"></i>Snow</button>
      <button class="btn chip vbr-mixed-chip list-inline-item my-1" #mixedButton (click)="toggleMixed(mixedButton)"><i class="fa fa-intersex mr-2"></i>Mixed</button>
      <button class="btn chip vbr-ladies-chip list-inline-item my-1" #ladiesButton (click)="toggleLadies(ladiesButton)"><i class="fa fa-venus mr-2"></i>Ladies</button>
      <button class="btn chip vbr-gents-chip list-inline-item my-1" #gentsButton (click)="toggleGents(gentsButton)"><i class="fa fa-mars mr-2"></i>Gents</button>
    </div>
  </div>
  <div *ngFor="let game of filteredGames" class="card div-card my-3 mx-1 py-2">
    <div class="row align-items-center m-1">
      <div class="vbr-text col-12 col-sm-4 p-1 text-left">
        {{game.homeTeamName}} - {{game.guestTeamName}}
        <span *ngIf="game.leagueName && game.leagueName.length" class="text-muted">
          <br/>{{game.leagueName}}
          <span *ngIf="game.divisionName && game.divisionName.length">&nbsp;/&nbsp;{{game.divisionName}}</span>
        </span>
        <span *ngIf="game.refereeName && game.refereeName.length" class="text-muted"> <br/><i class="fa fa-user mr-1"></i>by {{game.refereeName}}</span>
      </div>
      <div class="vbr-text col-6 col-sm-1 p-1 text-left list-unstyled list-inline">
        <a class="btn vbr-button-inverted list-inline-item my-1" [routerLink]="getGamePublicUrl(game)" placement="top" ngbTooltip="Navigate to the public page for this game. Share this URL with everyone.">
          Game page »
        </a>
      </div>
      <div class="vbr-text col-6 col-sm-2 p-1 text-center list-unstyled list-inline">
        <span class="chip vbr-live-chip list-inline-item" *ngIf="game.status === 'LIVE'"><i class="fa fa-mixcloud"></i></span>
        <span class="chip vbr-beach-chip list-inline-item" *ngIf="game.kind === 'BEACH'"><i class="fa fa-sun-o"></i></span>
        <span class="chip vbr-indoor-chip list-inline-item" *ngIf="game.kind === 'INDOOR'">6x6</span>
        <span class="chip vbr-indoor-4x4-chip list-inline-item" *ngIf="game.kind === 'INDOOR_4X4'">4x4</span>
        <span class="chip vbr-snow-chip list-inline-item" *ngIf="game.kind === 'SNOW'"><i class="fa fa-snowflake-o"></i></span>
        <span class="chip vbr-mixed-chip list-inline-item" *ngIf="game.gender === 'MIXED'"><i class="fa fa-intersex"></i></span>
        <span class="chip vbr-ladies-chip list-inline-item" *ngIf="game.gender === 'LADIES'"><i class="fa fa-venus"></i></span>
        <span class="chip vbr-gents-chip list-inline-item" *ngIf="game.gender === 'GENTS'"><i class="fa fa-mars"></i></span>
      </div>
      <div class="vbr-text col-7 col-sm-2 p-1 text-left">
        <span class="icon-text mr-1">Scheduled for</span>{{game.scheduledAt | date : 'dd MMM yyyy, HH:mm'}}
      </div>
      <div class="vbr-text col-5 col-sm-3 p-1 text-right">
        <div class="btn-group">
          <button type="button" class="btn vbr-button-inverted" (click)="viewGame(game)">
            <i class="fa fa-eye"></i><span class="icon-text ml-2">View</span>
          </button>
          <button type="button" class="btn vbr-button-inverted" (click)="updateGame(game)" *ngIf="game.status === 'SCHEDULED'">
            <i class="fa fa-pencil"></i><span class="icon-text ml-2">Edit</span>
          </button>
          <button type="button" class="btn vbr-button-inverted" (click)="updateReferee(game)" *ngIf="game.status === 'LIVE'">
            <i class="fa fa-user"></i><span class="icon-text ml-2">Referee</span>
          </button>
          <button type="button" class="btn vbr-button-inverted" (click)="downloadScoreSheet(game)" *ngIf="game.status === 'COMPLETED'">
            <i class="fa fa-download"></i><span class="icon-text ml-2">Sheet</span>
          </button>
          <button type="button" class="btn vbr-button-inverted" (click)="deleteGame(game)">
            <i class="fa fa-trash"></i><span class="icon-text ml-2">Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="div-user text-center my-3" *ngIf="!last">
    <button type="button" class="btn vbr-button-inverted" (click)="refreshGames(true)">Load more games</button>
  </div>
</div>
<div class="div-footer">
  <app-links-bar></app-links-bar>
</div>
