<div class="div-header">
  <app-navigation-bar></app-navigation-bar>
</div>
<div>
  <app-user-nav [selectedIndex]="2"></app-user-nav>
</div>
<div class="div-user text-center" *ngIf="signedIn">
  <div class="jumbotron div-jumbotron p-4 m-1">
    <p class="lead vbr-text" *ngIf="!selectedLeague">My Games</p>
    <p class="lead vbr-text" *ngIf="selectedLeague">Games of {{selectedLeague}}</p>
    <hr class="mt-2 mb-4"/>
    <div class="btn-group text-center">
      <button class="btn vbr-button-inverted" (click)="createGame('INDOOR')" *ngIf="!selectedKind || (selectedKind && selectedKind === 'INDOOR')">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="icon-text">Create</span>&nbsp;6x6
      </button>
      <button class="btn vbr-button-inverted" (click)="createGame('BEACH')" *ngIf="!selectedKind || (selectedKind && selectedKind === 'BEACH')">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="icon-text">Create</span>&nbsp;Beach
      </button>
      <button class="btn vbr-button-inverted" (click)="createGame('INDOOR_4X4')" *ngIf="!selectedKind || (selectedKind && selectedKind === 'INDOOR_4X4')">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="icon-text">Create</span>&nbsp;4x4
      </button>
    </div>
  </div>
  <div class="my-3 mx-1 text-left" *ngIf="gameFilter.games && gameFilter.games.length > 0">
    <input type="text" class="form-control vbr-text-color mb-2" placeholder="Filter" #textFilter (input)="gameFilter.filterFromText(textFilter)"/>
    <div class="text-left">
      <ul class="list-unstyled list-inline">
        <button id="live-button" class="btn vbr-live-button list-inline-item my-1" (click)="gameFilter.toggleLive()"><i class="fa fa-mixcloud"></i>&nbsp;&nbsp;Live</button>
        <button id="beach-button" class="btn vbr-beach-button list-inline-item my-1" (click)="gameFilter.toggleBeach()"><i class="fa fa-sun-o"></i>&nbsp;&nbsp;Beach</button>
        <button id="indoor-button" class="btn vbr-indoor-button list-inline-item my-1" (click)="gameFilter.toggleIndoor()">6x6</button>
        <button id="indoor-4x4-button" class="btn vbr-indoor-button list-inline-item my-1" (click)="gameFilter.toggleIndoor4x4()">4x4</button>
        <button id="time-button" class="btn vbr-time-button list-inline-item my-1" (click)="gameFilter.toggleTime()"><i class="fa fa-hourglass-2"></i>&nbsp;&nbsp;Time</button>
        <button id="mixed-button" class="btn vbr-mixed-button list-inline-item my-1" (click)="gameFilter.toggleMixed()"><i class="fa fa-intersex"></i></button>
        <button id="ladies-button" class="btn vbr-ladies-button list-inline-item my-1" (click)="gameFilter.toggleLadies()"><i class="fa fa-venus"></i></button>
        <button id="gents-button" class="btn vbr-gents-button list-inline-item my-1" (click)="gameFilter.toggleGents()"><i class="fa fa-mars"></i></button>
      </ul>
    </div>
  </div>
  <div *ngFor="let game of gameFilter.filteredGames" class="card div-card my-3 mx-1 py-2">
    <div class="row align-items-center m-1">
      <div class="vbr-text col-12 col-sm-4 p-1 text-left">
        {{game.hName}} - {{game.gName}}
        <span *ngIf="game.league && game.league.length" class="text-muted"><br/>{{game.league}}</span>
        <span *ngIf="game.referee && game.referee.length" class="text-muted"> <br/><i class="fa fa-user mr-1"></i>by {{game.referee}}</span>
      </div>
      <div class="vbr-text col-10 col-sm-2 p-1 text-left list-unstyled list-inline">
        <a class="btn vbr-button-inverted list-inline-item my-1" [routerLink]="getGamePublicUrl(game)" placement="top" ngbTooltip="Navigate to the public page for this game. Share this URL with everyone.">
          Game page »
        </a>
        <button class="btn btn-code list-inline-item my-1" (click)="viewCode(game)" *ngIf="!codeMap.has(game.date) && game.status !== 'COMPLETED'" placement="top" ngbTooltip="Obtain a code to give to another referee so he/she can referee this game">
          Get code
        </button>
        <span class="badge badge-code list-inline-item my-1" *ngIf="codeMap.has(game.date) && game.status !== 'COMPLETED'" placement="top" ngbTooltip="Give this code to another referee so he/she can referee this game">
          Code: {{codeMap.get(game.date)}}
        </span>
      </div>
      <div class="vbr-text col-2 col-sm-1 p-1 text-left list-unstyled list-inline">
        <i class="fa fa-mixcloud vbr-live-text list-inline-item" *ngIf="game.status === 'LIVE'"></i>
        <i class="fa fa-sun-o vbr-sun-text list-inline-item" *ngIf="game.kind === 'BEACH'"></i>
        <span class="badge text-center vbr-indoor-text list-inline-item" *ngIf="game.kind === 'INDOOR'">6x6</span>
        <span class="badge text-center vbr-indoor-text list-inline-item" *ngIf="game.kind === 'INDOOR_4X4'">4x4</span>
        <i class="list-inline-item" [ngClass]="utils.getGenderIcon(game.gender)"></i>
      </div>
      <div class="vbr-text col-7 col-sm-2 p-1 text-left">
        <span class="icon-text">Scheduled for&nbsp;</span>{{game.schedule | date : 'dd MMM yyyy, HH:mm'}}
      </div>
      <div class="vbr-text col-5 col-sm-3 p-1 text-right">
        <div class="btn-group">
          <button type="button" class="btn vbr-button-inverted" (click)="viewGame(game)">
            <i class="fa fa-eye"></i><span class="icon-text">&nbsp;&nbsp;View</span>
          </button>
          <button type="button" class="btn vbr-button-inverted" (click)="updateGame(game)" *ngIf="game.status === 'SCHEDULED'">
            <i class="fa fa-pencil"></i><span class="icon-text">&nbsp;&nbsp;Edit</span>
          </button>
          <button type="button" class="btn vbr-button-inverted" (click)="downloadPdfScoreSheet(game)" *ngIf="game.status === 'COMPLETED'">
            <i class="fa fa-download"></i><span class="icon-text">&nbsp;&nbsp;Sheet</span>
          </button>
          <button type="button" class="btn vbr-button-inverted" (click)="deleteGame(game)">
            <i class="fa fa-trash"></i><span class="icon-text">&nbsp;&nbsp;Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
