.btn-code {
	color: #1f1f1f;
	background-color: inherit;
	border-color: #1f1f1f;
}

.btn-code:hover {
	color: white;
	background-color: #1f1f1f;
	border-color: #1f1f1f;
}

.badge-code {
  font-size: 1.2em;
  color: white;
	background-color: #1f1f1f;
	border-color: #1f1f1f;
}

@media screen and (max-width: 1200px) {
  .badge-code {
    font-size: 1em;
  }
}
