<div class="div-user text-center">

  <div class="my-3" fxLayout="row wrap" fxFill fxLayoutAlign="center center" fxLayoutGap="8px">
    <button class="my-1" mat-raised-button color="primary" (click)="addColleague()">
      <mat-icon>person</mat-icon><span class="ml-1">Add colleague</span>
    </button>
  </div>

  <div class="my-3" fxLayout="row wrap" fxFill fxLayoutAlign="center top">

    <mat-card class="m-1" *ngFor="let friendRequest of friendsAndRequests?.receivedFriendRequests">
      <mat-card-content>
        <div fxLayout="row wrap" fxFill fxLayoutAlign="start center" fxLayoutGap="8px grid">
          <div class="vbr-text text-left" fxFlex="50" fxFlex.xs="100">
            You received a request from {{friendRequest.senderPseudo}}
          </div>
          <div class="text-right" fxFlex fxFlex.xs fxLayoutGap="8px">
            <button mat-raised-button color="primary" type="button" (click)="acceptColleague(friendRequest)">
              <mat-icon>add</mat-icon><span class="ml-1">Accept</span>
            </button>
            <button mat-raised-button color="warn" type="button" (click)="rejectColleague(friendRequest)">
              <mat-icon>delete</mat-icon><span class="ml-1">Reject</span>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="m-1 friend-card" *ngFor="let friend of friendsAndRequests?.friends">
      <mat-card-content>
        <div fxLayout="row wrap" fxFill fxLayoutAlign="start center" fxLayoutGap="8px grid">
          <div class="vbr-text text-left" fxFlex="50" fxFlex.xs="50">
            {{friend.pseudo}}
          </div>
          <div class="text-right" fxFlex fxFlex.xs fxLayoutGap="8px">
            <button mat-raised-button color="warn" type="button" (click)="removeColleague(friend)">
              <mat-icon>delete</mat-icon><span class="ml-1">Remove</span>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>

</div>