<div class="div-user text-center">
  <div class="my-3" fxLayout="row wrap" fxFill fxLayoutAlign="center center" fxLayoutGap="8px">
    <button class="my-1" mat-raised-button color="primary" (click)="addColleague()">
      <mat-icon>add</mat-icon><span class="ml-1">{{ 'user.colleague.add' | translate }}</span>
    </button>
  </div>

  <div class="my-3" fxLayout="row wrap" fxFill fxLayoutAlign="center top">
    <mat-card class="m-1" *ngFor="let friendRequest of friendsAndRequests?.receivedFriendRequests">
      <mat-card-content>
        <div fxLayout="row wrap" fxFill fxLayoutAlign="start center" fxLayoutGap="8px grid">
          <div class="text-left" fxFlex="50" fxFlex.xs="100">
            {{ 'user.colleague.messages.request-received' | translate: { pseudo: friendRequest.senderPseudo } }}
          </div>
          <div class="text-right" fxFlex fxFlex.xs fxLayoutGap="8px">
            <button mat-raised-button color="primary" type="button" (click)="acceptColleague(friendRequest)">
              <mat-icon>check</mat-icon><span class="ml-1">{{ 'common.accept' | translate }}</span>
            </button>
            <button mat-raised-button color="warn" type="button" (click)="rejectColleague(friendRequest)">
              <mat-icon>close</mat-icon><span class="ml-1">{{ 'common.decline' | translate }}</span>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="m-1 friend-card" *ngFor="let friend of friendsAndRequests?.friends">
      <mat-card-content>
        <div fxLayout="row wrap" fxFill fxLayoutAlign="start center" fxLayoutGap="8px grid">
          <div class="text-left" fxFlex="50" fxFlex.xs="50">
            {{ friend.pseudo }}
          </div>
          <div class="text-right" fxFlex fxFlex.xs fxLayoutGap="8px">
            <button mat-raised-button color="warn" type="button" (click)="removeColleague(friend)">
              <mat-icon>delete</mat-icon><span class="ml-1">{{ 'common.remove' | translate }}</span>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
