.div-select {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.div-rankings {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.bottom-right-fab {
  position: fixed;
  bottom: calc(1.1 * var(--toolbar-height));
  right: calc(0.5 * var(--toolbar-height));
  z-index: 5;
}

@media screen and (min-width: 800px) {
  .collapsed-rankings {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .expanded-rankings {
    display: none;
  }

  .title {
    font-size: 0.8rem;
  }
}
