<div class="div-select" *ngIf="league">
  <mat-form-field class="mx-1 mt-3" appearance="outline">
    <mat-select [(ngModel)]="selectedDivision" (change)="onDivisionSelected()">
      <mat-option *ngFor="let division of league.divisions" [value]="division">
        {{division}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="div-rankings" *ngIf="league">
  <mat-card class="expanded-rankings">
    <div class="row align-items-center p-1">
      <div class="col-sm-3 text-center p-0 m-0 title">Teams</div>
      <div class="col-sm-3 text-center p-0 m-0 title">Matches</div>
      <div class="col-sm-3 text-center p-0 m-0 title">Sets</div>
      <div class="col-sm-3 text-center p-0 m-0 title">Points</div>
    </div>
    <div class="row align-items-center p-1">
      <div class="col-sm-3 text-center p-0 m-0 title"></div>
      <div class="col-sm-1 text-right p-0 m-0 title">Played</div>
      <div class="col-sm-1 text-right p-0 m-0 title">Won</div>
      <div class="col-sm-1 text-right p-0 m-0 title">Lost</div>
      <div class="col-sm-1 text-right p-0 m-0 title">Won</div>
      <div class="col-sm-1 text-right p-0 m-0 title">Lost</div>
      <div class="col-sm-1 text-right p-0 m-0 title">Diff</div>
      <div class="col-sm-1 text-right p-0 m-0 title">Won</div>
      <div class="col-sm-1 text-right p-0 m-0 title">Lost</div>
      <div class="col-sm-1 text-right p-0 m-0 title">Diff</div>
    </div>
    <div class="row align-items-center p-1" *ngFor="let ranking of rankings; let index=index" [ngClass]="getLineClass(index)">
      <div class="col-sm-3 text-left p-0 m-0">
        <span class="badge text-center player-badge-font" [style.background-color]="ranking.teamColor" [style.color]="playerStyleService.getTextColor(ranking.teamColor)"
          [style.border-color]="playerStyleService.getBorderColor(ranking.teamColor)" [innerHTML]="ranking.teamName"></span>
      </div>
      <div class="col-sm-1 text-right p-0 m-0">{{ranking.matchesFor + ranking.matchesAgainst}}</div>
      <div class="col-sm-1 text-right p-0 m-0">{{ranking.matchesFor}}</div>
      <div class="col-sm-1 text-right p-0 m-0">{{ranking.matchesAgainst}}</div>
      <div class="col-sm-1 text-right p-0 m-0">{{ranking.setsFor}}</div>
      <div class="col-sm-1 text-right p-0 m-0">{{ranking.setsAgainst}}</div>
      <div class="col-sm-1 text-right p-0 m-0">{{getDiff(ranking.setsDiff)}}</div>
      <div class="col-sm-1 text-right p-0 m-0">{{ranking.pointsFor}}</div>
      <div class="col-sm-1 text-right p-0 m-0">{{ranking.pointsAgainst}}</div>
      <div class="col-sm-1 text-right p-0 m-0">{{getDiff(ranking.pointsDiff)}}</div>
    </div>
  </mat-card>

  <mat-card class="collapsed-rankings">
    <div class="row align-items-center p-1">
      <div class="col-6 text-center p-0 m-0 title">Teams</div>
      <div class="col-2 text-right p-0 m-0 title">Matches</div>
      <div class="col-2 text-right p-0 m-0 title">Sets</div>
      <div class="col-2 text-right p-0 m-0 title">Points</div>
    </div>
    <div class="row align-items-center p-1">
      <div class="col-6 text-center p-0 m-0 title"></div>
      <div class="col-1 text-right p-0 m-0 title">P.</div>
      <div class="col-1 text-right p-0 m-0 title">W.</div>
      <div class="col-2 text-right p-0 m-0 title">Diff</div>
      <div class="col-2 text-right p-0 m-0 title">Diff</div>
    </div>
    <div class="row align-items-center p-1" *ngFor="let ranking of rankings; let index=index" [ngClass]="getLineClass(index)">
      <div class="col-6 text-left p-0 m-0">
        <span class="badge text-center player-badge-font" [style.background-color]="ranking.teamColor" [style.color]="playerStyleService.getTextColor(ranking.teamColor)"
          [style.border-color]="playerStyleService.getBorderColor(ranking.teamColor)" [innerHTML]="ranking.teamName"></span>
      </div>
      <div class="col-1 text-right p-0 m-0">{{ranking.matchesFor + ranking.matchesAgainst}}</div>
      <div class="col-1 text-right p-0 m-0">{{ranking.matchesFor}}</div>
      <div class="col-2 text-right p-0 m-0">{{getDiff(ranking.setsDiff)}}</div>
      <div class="col-2 text-right p-0 m-0">{{getDiff(ranking.pointsDiff)}}</div>
    </div>
  </mat-card>
</div>

<button *ngIf="league" type="button" class="bottom-right-fab" mat-fab type="button" color="accent" aria-label="Rankings" (click)="downloadDivisionExcel()"><mat-icon>cloud_download</mat-icon></button>
