<div class="div-content mt-4">
  <form autocomplete="off" novalidate (ngSubmit)="search()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Search games</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-select class="mt-3" [(value)]="searchType" (selectionChange)=onSelectionChanged()>
          <mat-option *ngFor="let searchCriterion of searchCriteria" [value]="searchCriterion.type">
            {{searchCriterion.display}}
          </mat-option>
        </mat-select>

        <mat-form-field *ngIf="searchType === searchTypeEnum.Token" appearance="outline" class="mt-3">
          <input matInput type="search" [formControl]="searchTokenControl">
          <mat-icon matSuffix>search</mat-icon>
          <mat-error *ngIf="searchTokenControl.errors?.required">Criterion must contain at least 3 characters</mat-error>
          <mat-error *ngIf="searchTokenControl.errors?.minlength">Criterion must contain at least 3 characters</mat-error>
        </mat-form-field>
  
        <mat-form-field *ngIf="searchType === searchTypeEnum.Date" appearance="outline" class="mt-3">
          <input matInput type="search" name="searchDate" [(ngModel)]="searchDate" [matDatepicker]="picker" (click)="picker.open()" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="!canSearch()">Search</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <ng-container *ngIf="loadSearchResults" [ngSwitch]="searchType">
    <app-game-list *ngSwitchCase="searchTypeEnum.Token" [token]="searchToken"></app-game-list>
    <app-game-list *ngSwitchCase="searchTypeEnum.Live" [live]="true"></app-game-list>
    <app-game-list *ngSwitchCase="searchTypeEnum.Date" [date]="searchDateStr"></app-game-list>
    <app-game-list *ngSwitchCase="searchTypeEnum.Today" [date]="searchDateStr"></app-game-list>
  </ng-container>
</div>