<div fxLayout="row wrap" fxLayoutAlign="center start">
  <form class="div-small-form mt-4" [formGroup]="signInFormGroup" autocomplete="off" novalidate (ngSubmit)="onSignIn()">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="favicon.ico" />
        <mat-card-title>{{ 'user.management.sign-in' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'app' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="mb-3">
          {{ 'user.management.messages.create-account' | translate }}
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex class="m-1">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'user.management.email' | translate }}</mat-label>
              <input matInput type="email" formControlName="email" cdkFocusInitial required />
              <mat-error *ngIf="emailFormControl.errors?.required">{{
                'user.management.messages.email-required-error' | translate
              }}</mat-error>
              <mat-error *ngIf="emailFormControl.errors?.email">{{ 'user.management.messages.email-invalid-error' | translate }}</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex class="m-1">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'user.management.password' | translate }}</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required />
              <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                <mat-icon>{{ passwordVisibility }}</mat-icon>
              </button>
              <mat-error *ngIf="passwordFormControl.errors?.required">{{
                'user.management.messages.password-required-error' | translate
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <a [routerLink]="getPasswordLostUrl()"
          ><button mat-button color="primary" type="button">{{ 'user.management.lost-password' | translate }}</button></a
        >
        <button mat-raised-button color="primary" type="submit" [disabled]="!signInFormGroup.valid">
          {{ 'user.management.sign-in' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <mat-card fxFlex class="div-small-form mt-4">
    <mat-card-content>
      <app-statistics [showUserStatistics]="false"></app-statistics>
    </mat-card-content>
  </mat-card>
</div>
