<mat-card *ngIf="game && game.kind === 'SNOW'">
  <mat-card-content>
    <div>
      <h3 fxFlex class="mat-h3">{{ 'game.title.starting-line-up' | translate }}</h3>
    </div>

    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="center start">
        <table>
          <tbody>
            <tr>
              <td class="mx-1 text-center"><span class="player-badge">I</span></td>
              <td class="mx-1 text-center"><span class="player-badge">II</span></td>
              <td class="mx-1 text-center"><span class="player-badge">III</span></td>
            </tr>
            <tr>
              <td class="mx-1 text-center">
                <span
                  class="badge player-badge"
                  [style.background-color]="playerStyleService.getTeamBackgroundColor(game, leftTeam)"
                  [style.color]="playerStyleService.getTeamTextColor(game, leftTeam)"
                  [style.border-color]="playerStyleService.getTeamBorderColor(game, leftTeam)"
                  [innerHTML]="getPlayerAt(leftTeam, 1)"
                ></span>
              </td>
              <td class="mx-1 text-center">
                <span
                  class="badge player-badge"
                  [style.background-color]="playerStyleService.getTeamBackgroundColor(game, leftTeam)"
                  [style.color]="playerStyleService.getTeamTextColor(game, leftTeam)"
                  [style.border-color]="playerStyleService.getTeamBorderColor(game, leftTeam)"
                  [innerHTML]="getPlayerAt(leftTeam, 2)"
                ></span>
              </td>
              <td class="mx-1 text-center">
                <span
                  class="badge player-badge"
                  [style.background-color]="playerStyleService.getTeamBackgroundColor(game, leftTeam)"
                  [style.color]="playerStyleService.getTeamTextColor(game, leftTeam)"
                  [style.border-color]="playerStyleService.getTeamBorderColor(game, leftTeam)"
                  [innerHTML]="getPlayerAt(leftTeam, 3)"
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div fxFlex="50" fxLayout="row" fxLayoutAlign="center start">
        <table>
          <tbody>
            <tr>
              <td class="mx-1 text-center"><span class="player-badge">I</span></td>
              <td class="mx-1 text-center"><span class="player-badge">II</span></td>
              <td class="mx-1 text-center"><span class="player-badge">III</span></td>
            </tr>
            <tr>
              <td class="mx-1 text-center">
                <span
                  class="badge player-badge"
                  [style.background-color]="playerStyleService.getTeamBackgroundColor(game, rightTeam)"
                  [style.color]="playerStyleService.getTeamTextColor(game, rightTeam)"
                  [style.border-color]="playerStyleService.getTeamBorderColor(game, rightTeam)"
                  [innerHTML]="getPlayerAt(rightTeam, 1)"
                ></span>
              </td>
              <td class="mx-1 text-center">
                <span
                  class="badge player-badge"
                  [style.background-color]="playerStyleService.getTeamBackgroundColor(game, rightTeam)"
                  [style.color]="playerStyleService.getTeamTextColor(game, rightTeam)"
                  [style.border-color]="playerStyleService.getTeamBorderColor(game, rightTeam)"
                  [innerHTML]="getPlayerAt(rightTeam, 2)"
                ></span>
              </td>
              <td class="mx-1 text-center">
                <span
                  class="badge player-badge"
                  [style.background-color]="playerStyleService.getTeamBackgroundColor(game, rightTeam)"
                  [style.color]="playerStyleService.getTeamTextColor(game, rightTeam)"
                  [style.border-color]="playerStyleService.getTeamBorderColor(game, rightTeam)"
                  [innerHTML]="getPlayerAt(rightTeam, 3)"
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
