<div *ngIf="gameFilter.games">
  <div class="mx-1 mt-3">
    <span class="vbr-text game-number-text">Found {{gameFilter.games.length}} game(s)</span>
  </div>
  <div class="my-3 mx-1 text-left" *ngIf="gameFilter.games.length > 0">
    <input type="text" class="form-control vbr-text mb-2" placeholder="Filter" #textFilter (input)="gameFilter.filterFromText(textFilter)"/>
    <div class="text-left">
      <ul class="list-unstyled list-inline">
        <button id="live-button" class="btn vbr-live-button list-inline-item my-1" (click)="gameFilter.toggleLive()"><i class="fa fa-mixcloud"></i>&nbsp;&nbsp;Live</button>
        <button id="beach-button" class="btn vbr-beach-button list-inline-item my-1" (click)="gameFilter.toggleBeach()" *ngIf="!leagueId"><i class="fa fa-sun-o"></i>&nbsp;&nbsp;Beach</button>
        <button id="indoor-button" class="btn vbr-indoor-button list-inline-item my-1" (click)="gameFilter.toggleIndoor()" *ngIf="!leagueId">6x6</button>
        <button id="indoor-4x4-button" class="btn vbr-indoor-4x4-button list-inline-item my-1" (click)="gameFilter.toggleIndoor4x4()" *ngIf="!leagueId">4x4</button>
        <button id="mixed-button" class="btn vbr-mixed-button list-inline-item my-1" (click)="gameFilter.toggleMixed()"><i class="fa fa-intersex"></i></button>
        <button id="ladies-button" class="btn vbr-ladies-button list-inline-item my-1" (click)="gameFilter.toggleLadies()"><i class="fa fa-venus"></i></button>
        <button id="gents-button" class="btn vbr-gents-button list-inline-item my-1" (click)="gameFilter.toggleGents()"><i class="fa fa-mars"></i></button>
      </ul>
    </div>
  </div>
  <div>
    <app-game-list-item *ngFor="let gameSummary of gameFilter.filteredGames" [gameSummary]="gameSummary" [inLeague]="leagueId"></app-game-list-item>
  </div>
</div>
