<div *ngIf="gameFilter.games">
  <div class="mx-1 mt-3">
    <span class="vbr-text game-number-text">Found {{gameFilter.games.length}} game(s)</span>
  </div>
  <div class="my-3 mx-1 text-left" *ngIf="gameFilter.games.length > 0">
    <input type="text" class="form-control vbr-text mb-2" placeholder="Filter" #textFilter (input)="gameFilter.filterFromText(textFilter)"/>
    <div class="text-left list-unstyled list-inline">
      <button class="btn chip vbr-live-chip list-inline-item my-1" #liveButton (click)="gameFilter.toggleLive(liveButton)"><i class="fa fa-mixcloud"></i>&nbsp;&nbsp;Live</button>
      <button class="btn chip vbr-beach-chip list-inline-item my-1" #beachButton (click)="gameFilter.toggleBeach(beachButton)" *ngIf="!leagueId"><i class="fa fa-sun-o"></i>&nbsp;&nbsp;Beach</button>
      <button class="btn chip vbr-indoor-chip list-inline-item my-1" #indoorButton (click)="gameFilter.toggleIndoor(indoorButton)" *ngIf="!leagueId">6x6</button>
      <button class="btn chip vbr-indoor-4x4-chip list-inline-item my-1" #indoor4x4Button (click)="gameFilter.toggleIndoor4x4(indoor4x4Button)" *ngIf="!leagueId">4x4</button>
      <button class="btn chip vbr-mixed-chip list-inline-item my-1" #mixedButton (click)="gameFilter.toggleMixed(mixedButton)"><i class="fa fa-intersex"></i>&nbsp;&nbsp;Mixed</button>
      <button class="btn chip vbr-ladies-chip list-inline-item my-1" #ladiesButton (click)="gameFilter.toggleLadies(ladiesButton)"><i class="fa fa-venus"></i>&nbsp;&nbsp;Ladies</button>
      <button class="btn chip vbr-gents-chip list-inline-item my-1" #gentsButton (click)="gameFilter.toggleGents(gentsButton)"><i class="fa fa-mars"></i>&nbsp;&nbsp;Gents</button>
    </div>
  </div>
  <div>
    <app-game-list-item *ngFor="let gameSummary of gameFilter.filteredGames" [gameSummary]="gameSummary" [inLeague]="leagueId"></app-game-list-item>
  </div>
</div>
