<div *ngIf="games">
  <div class="mx-1 mt-3">
    <span class="vbr-text game-number-text">Found {{total}} game(s)</span>
  </div>
  <div class="my-3 mx-1 text-left" *ngIf="games.length > 0">
    <input type="text" class="form-control vbr-text mb-2" placeholder="Filter" #textFilter (input)="filterFromText(textFilter)"/>
    <div class="text-left list-unstyled list-inline">
      <button class="btn chip vbr-live-chip list-inline-item my-1" #liveButton (click)="toggleLive(liveButton)"><i class="fa fa-mixcloud mr-2"></i>Live</button>
      <button class="btn chip vbr-beach-chip list-inline-item my-1" #beachButton (click)="toggleBeach(beachButton)" *ngIf="!leagueId"><i class="fa fa-sun-o mr-2"></i>Beach</button>
      <button class="btn chip vbr-indoor-chip list-inline-item my-1" #indoorButton (click)="toggleIndoor(indoorButton)" *ngIf="!leagueId">6x6</button>
      <button class="btn chip vbr-indoor-4x4-chip list-inline-item my-1" #indoor4x4Button (click)="toggleIndoor4x4(indoor4x4Button)" *ngIf="!leagueId">4x4</button>
      <button class="btn chip vbr-snow-chip list-inline-item my-1" #snowButton (click)="toggleSnow(snowButton)" *ngIf="!leagueId"><i class="fa fa-snowflake-o mr-2"></i>Snow</button>
      <button class="btn chip vbr-mixed-chip list-inline-item my-1" #mixedButton (click)="toggleMixed(mixedButton)"><i class="fa fa-intersex mr-2"></i>Mixed</button>
      <button class="btn chip vbr-ladies-chip list-inline-item my-1" #ladiesButton (click)="toggleLadies(ladiesButton)"><i class="fa fa-venus mr-2"></i>Ladies</button>
      <button class="btn chip vbr-gents-chip list-inline-item my-1" #gentsButton (click)="toggleGents(gentsButton)"><i class="fa fa-mars mr-2"></i>Gents</button>
    </div>
  </div>
  <div>
    <app-game-list-item *ngFor="let gameSummary of filteredGames" [gameSummary]="gameSummary" [inLeague]="leagueId"></app-game-list-item>
  </div>
  <div class="div-user text-center my-3" *ngIf="!last">
    <button type="button" class="btn vbr-button-inverted" (click)="refreshGames(true)">Load more games</button>
  </div>
</div>
