.nav-bar {
  background-color: #1f4294;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.photo {
  width: 40px;
  height: auto;
}

.notification {
  font-size: 1em;
  color: #1f4294;
  background-color: #f2bb1a;
}

@media screen and (max-width: 1200px) {
  .photo {
    width: 32px;
  }
}
