<div class="material-design-shadow mb-3">
	<div class="nav-bar pl-2">
		<div>
			<a class="navbar-brand" [routerLink]="getHomeUrl()">
				<img class="photo" src="../../assets/vbr_toolbar.png" alt="VBR logo"/>
			</a>
			<button class="btn vbr-button" (click)="onShowSearchClicked()"><i class="fa fa-search mr-2"></i>Search games</button>
		</div>
		<div>
			<a *ngIf="numberOfFriendRequests > 0" class="badge notification" [routerLink]="getUserColleaguesUrl()">+{{numberOfFriendRequests}}</a>
			<a *ngIf="photo" class="navbar-brand" [routerLink]="getHomeUrl()">
				<img [src]="photo" class="photo" alt="User photo"/>
			</a>
		</div>
	</div>
</div>
