<mat-card class="div-unsubscription mt-4">
  <mat-card-content>
    <h1 class="mat-h1 text-center my-4">Unsubscription and account deletion</h1>

    <p class="mx-1">There are two ways for canceling a Volleyball Referee subscription:</p>
    <ol>
      <li>
        From the Google Play Store, follow the steps decribed on the Google support pages:
        <a href="https://support.google.com/googleplay/answer/7018481?sjid=226446940564558483-EU"
          >Cancel, pause, or change a subscription on Google Play</a
        >.<br />The user account will be suspended, and the data will remain avaiable for 6 months in case of a re-subscription. Beyond this
        6-month delay, both the data and account will be definitely deleted.
      </li>
      <br />
      <li>
        From the Volleyball Referee website, go to <a routerLink="/account">your account page</a> and fill the form for deleting your
        account. <br />The subscription will be immediately canceled, and all the data will be immediately deleted.
      </li>
    </ol>
  </mat-card-content>
</mat-card>
