<div class="modal-header">
  <h5 class="modal-title vbr-text" *ngIf="team && crudType && (crudType === 1)">Create team</h5>
  <h5 class="modal-title vbr-text" *ngIf="team && crudType && (crudType === 2)">Update team {{team.name}}</h5>
  <h5 class="modal-title vbr-text" *ngIf="team && crudType && (crudType === 4)">View team {{team.name}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="team && crudType">
  <form class="needs-validation" (submit)="onSubmitForm()" novalidate autocomplete="off">
    <div class="row mb-3">
      <div class="col-12 col-sm-10">
        <label [ngClass]="undefinedName ? 'vbr-error-label' : ''" class="vbr-text" for="name">Team name</label>
        <input type="text" [ngClass]="undefinedName ? 'vbr-error-input' : ''" class="vbr-text form-control"
          name="name" id="name" [(ngModel)]="team.name" placeholder="" required [attr.disabled]="isEditingDisabledKey()"/>
        <div class="vbr-error-feedback" *ngIf="undefinedName">
          Please enter a name for the team.
        </div>
      </div>
    </div>

    <hr class="mb-3"/>

    <div class="row align-items-center mb-3">
      <div class="col-6 col-sm-4">
        <label class="vbr-text">Gender</label>
      </div>
      <div class="col-6 col-sm-8">
        <button type="button" class="btn form-button" [ngClass]="getGenderButton()" id="gender" (click)="nextGender()" [attr.disabled]="isEditingDisabledKey()">
          <i class="p-1" [ngClass]="getGenderIcon()"></i>
        </button>
      </div>
    </div>

    <div class="row align-items-center mb-3">
      <div class="col-6 col-sm-4">
        <label class="vbr-text" for="shirt-color">Shirt color</label>
      </div>
      <div class="col-6 col-sm-8">
        <button type="button" class="btn vbr-button form-button" [style.background-color]="team.color" [style.color]="utils.getTextColor(team.color)" [style.border-color]="team.color"
          name="shirt-color" id="shirt-color" (click)="changeShirtColor()" [attr.disabled]="isEditingDisabled()">
          <i class="fa fa-paint-brush"></i>
        </button>
      </div>
    </div>

    <div class="row align-items-center mb-3" [hidden]="team.kind === 'BEACH'">
      <div class="col-12 col-sm-12">
        <label [ngClass]="(availablePlayers < minPlayers) ? 'vbr-error-label' : ''" class="vbr-text" for="players">Team players (including liberos)</label>
        <div class="div-players" id="players" *ngIf="!moreNumbers">
          <button type="button" class="btn player-button m-1" *ngFor="let playerItem of players | slice:0:25;" (click)="onPlayerSelected(playerItem.shirtNumber)"
            [style.background-color]="playerItem.getBackgroundColor()" [style.color]="playerItem.getColor()" [innerHTML]="playerItem.player" [attr.disabled]="isEditingDisabled()"></button>
          <button type="button" class="btn vbr-button-inverted m-1" (click)="showMoreNumbers()">More numbers</button>
        </div>
        <div class="div-players" id="players" *ngIf="moreNumbers">
          <button type="button" class="btn player-button m-1" *ngFor="let playerItem of players" (click)="onPlayerSelected(playerItem.shirtNumber)"
            [style.background-color]="playerItem.getBackgroundColor()" [style.color]="playerItem.getColor()" [innerHTML]="playerItem.player" [attr.disabled]="isEditingDisabled()"></button>
            <button type="button" class="btn vbr-button-inverted m-1" (click)="showLessNumbers()">Less numbers</button>
        </div>
        <div class="vbr-error-feedback" *ngIf="availablePlayers < minPlayers">
          Please select at least {{minPlayers - availablePlayers}} more players.
        </div>
      </div>
    </div>

    <div class="row align-items-center mb-3">
      <div class="col-6 col-sm-4">
        <label [ngClass]="invalidCaptain ? 'vbr-error-label' : ''" class="vbr-text" for="captain">Team captain</label>
      </div>
      <div class="col-6 col-sm-6">
        <select [ngClass]="invalidCaptain ? 'vbr-error-input' : ''" class="vbr-text custom-select"
          name="captain" id="captain" [(ngModel)]="team.captain" [attr.disabled]="isEditingDisabled()">
          <option *ngFor="let playerItem of players" [ngValue]="playerItem.shirtNumber">{{playerItem.shirtNumber}}</option>
        </select>
      </div>
      <div class="col-12">
        <div class="vbr-error-feedback" *ngIf="invalidCaptain">
          Please use a selected player as captain.
        </div>
      </div>
    </div>

    <div class="row align-items-center mb-3" [hidden]="team.kind === 'BEACH' || team.kind === 'INDOOR_4X4'">
      <div class="col-6 col-sm-4">
        <label class="vbr-text" for="libero-shirt-color">Libero shirt color</label>
      </div>
      <div class="col-6 col-sm-6">
        <button type="button" class="btn vbr-button form-button" [style.background-color]="team.liberoColor" [style.color]="utils.getTextColor(team.liberoColor)" [style.border-color]="team.liberoColor"
          name="libero-shirt-color" id="libero-shirt-color" (click)="changeLiberoShirtColor()" [attr.disabled]="isEditingDisabled()">
          <i class="fa fa-paint-brush"></i>
        </button>
      </div>
    </div>

    <div class="row align-items-center mb-3" [hidden]="team.kind === 'BEACH' || team.kind === 'INDOOR_4X4'">
      <div class="col-12 col-sm-12">
        <label class="vbr-text" for="liberos">Team liberos</label>
        <div class="div-players" id="liberos">
          <button type="button" class="btn player-button m-1" *ngFor="let playerItem of liberos" (click)="onLiberoSelected(playerItem.shirtNumber)"
            [style.background-color]="playerItem.getBackgroundColor()" [style.color]="playerItem.getColor()" [innerHTML]="playerItem.player" [attr.disabled]="isEditingDisabled()"></button>
        </div>
      </div>
    </div>

    <div class="row mb-3" *ngIf="invalidResponse">
      <div class="col-12 col-sm-10">
        <p class="alert alert-danger" *ngIf="crudType === 1">
          The team could not be created. Is the name already taken?
        </p>
        <p class="alert alert-danger" *ngIf="crudType === 2">
          The team could not be updated. Does it still exist?
        </p>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn cancel-button" *ngIf="crudType === 4" (click)="close()">Close</button>
      <button type="button" class="btn cancel-button" *ngIf="crudType !== 4" (click)="close()">Cancel</button>
      <button type="submit" class="btn vbr-button" *ngIf="crudType === 1">Create</button>
      <button type="submit" class="btn vbr-button" *ngIf="crudType === 2">Update</button>
    </div>
  </form>
</div>
