<div class="comp-container p-2" *ngIf="game && (game.usage === 'NORMAL')">
  <h6 class="card-title vbr-text-color">Current Line-up</h6>
  <div class="div-court"*ngIf="game && (game.usage === 'NORMAL')">
    <div class="position-1-l">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(1, leftTeam)" [style.color]="getPlayerFrontColor(1, leftTeam)" [style.border-color]="getPlayerBorderColor(1, leftTeam)" [innerHTML]="getPlayerText(1, leftTeam)"></span>
    </div>
    <div class="position-2-l">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(2, leftTeam)" [style.color]="getPlayerFrontColor(2, leftTeam)" [style.border-color]="getPlayerBorderColor(2, leftTeam)" [innerHTML]="getPlayerText(2, leftTeam)"></span>
    </div>
    <div class="position-3-l">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(3, leftTeam)" [style.color]="getPlayerFrontColor(3, leftTeam)" [style.border-color]="getPlayerBorderColor(3, leftTeam)" [innerHTML]="getPlayerText(3, leftTeam)"></span>
    </div>
    <div class="position-4-l">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(4, leftTeam)" [style.color]="getPlayerFrontColor(4, leftTeam)" [style.border-color]="getPlayerBorderColor(4, leftTeam)" [innerHTML]="getPlayerText(4, leftTeam)"></span>
    </div>
    <div class="position-5-l">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(5, leftTeam)" [style.color]="getPlayerFrontColor(5, leftTeam)" [style.border-color]="getPlayerBorderColor(5, leftTeam)" [innerHTML]="getPlayerText(5, leftTeam)"></span>
    </div>
    <div class="position-6-l">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(6, leftTeam)" [style.color]="getPlayerFrontColor(6, leftTeam)" [style.border-color]="getPlayerBorderColor(6, leftTeam)" [innerHTML]="getPlayerText(6, leftTeam)"></span>
    </div>
    <div class="position-1-r">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(1, rightTeam)" [style.color]="getPlayerFrontColor(1, rightTeam)" [style.border-color]="getPlayerBorderColor(1, rightTeam)" [innerHTML]="getPlayerText(1, rightTeam)"></span>
    </div>
    <div class="position-2-r">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(2, rightTeam)" [style.color]="getPlayerFrontColor(2, rightTeam)" [style.border-color]="getPlayerBorderColor(2, rightTeam)" [innerHTML]="getPlayerText(2, rightTeam)"></span>
    </div>
    <div class="position-3-r">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(3, rightTeam)" [style.color]="getPlayerFrontColor(3, rightTeam)" [style.border-color]="getPlayerBorderColor(3, rightTeam)" [innerHTML]="getPlayerText(3, rightTeam)"></span>
    </div>
    <div class="position-4-r">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(4, rightTeam)" [style.color]="getPlayerFrontColor(4, rightTeam)" [style.border-color]="getPlayerBorderColor(4, rightTeam)" [innerHTML]="getPlayerText(4, rightTeam)"></span>
    </div>
    <div class="position-5-r">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(5, rightTeam)" [style.color]="getPlayerFrontColor(5, rightTeam)" [style.border-color]="getPlayerBorderColor(5, rightTeam)" [innerHTML]="getPlayerText(5, rightTeam)"></span>
    </div>
    <div class="position-6-r">
      <span class="badge player-badge" [style.background-color]="getPlayerBackColor(6, rightTeam)" [style.color]="getPlayerFrontColor(6, rightTeam)" [style.border-color]="getPlayerBorderColor(6, rightTeam)" [innerHTML]="getPlayerText(6, rightTeam)"></span>
    </div>
    <div class="serve-1-l" [style.visibility]="getServeVisibility(leftTeam)">
      <img class="serve" src="../../assets/ic_volley_ball.png" alt="serve">
    </div>
    <div class="serve-1-r" [style.visibility]="getServeVisibility(rightTeam)">
      <img class="serve" src="../../assets/ic_volley_ball.png" alt="serve">
    </div>
  </div>
</div>
