.div-colors {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.color-button {
  width: 45px;
  height: 45px;
}

.color-button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
  transform: scale(1.5);
}
