.secondary-text {
  font-size: 0.9em;
}

.game-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.game-icon {
  font-size: 1.2em;
}

.game-schedule {
  margin-left: auto;
}

.game-title {
  font-size: 1.1em;
  color: #1f4294;
}
