<div class="card div-card mx-1 my-3" *ngIf="gameDescription">
  <div class="row align-items-center m-1">
    <div class="vbr-text col-10 col-sm-10 p-1 text-left">
      {{gameDescription.hName}} {{gameDescription.hSets}} - {{gameDescription.gSets}} {{gameDescription.gName}}
      <span *ngIf="!inLeague && gameDescription.league && gameDescription.league.length" class="text-muted secondary-text">
        <br/>{{gameDescription.league}}
      </span>
      <span *ngIf="gameDescription.referee && gameDescription.referee.length" class="text-muted secondary-text">
        <br/><i class="fa fa-user mr-1"></i>by {{gameDescription.referee}}
      </span>
    </div>
    <div class="text-right col-2 col-sm-2 p-1 list-unstyled list-inline">
      <i class="fa fa-mixcloud vbr-live-text list-inline-item" *ngIf="gameDescription.status === 'LIVE'"></i>
      <i class="fa fa-hourglass-2 vbr-time-text list-inline-item" *ngIf="gameDescription.kind === 'TIME'"></i>
      <i class="fa fa-sun-o vbr-sun-text list-inline-item" *ngIf="gameDescription.kind === 'BEACH'"></i>
      <span class="badge text-center vbr-indoor-text list-inline-item" *ngIf="gameDescription.kind === 'INDOOR'">6x6</span>
      <span class="badge text-center vbr-indoor-text list-inline-item" *ngIf="gameDescription.kind === 'INDOOR_4X4'">4x4</span>
      <i class="list-inline-item" [ngClass]="utils.getGenderIcon(gameDescription.gender)"></i>
    </div>
    <div class="vbr-text text-muted secondary-text col-7 col-sm-7 p-1 text-left">
      {{gameDescription.schedule | date : 'dd MMM yyyy, HH:mm'}}
    </div>
    <div class="vbr-text col-5 col-sm-5 p-1 text-right">
      <a [routerLink]="getMatchUrl()" class="btn vbr-button-inverted"><i class="fa fa-eye"></i>&nbsp;&nbsp;View</a>
    </div>
  </div>
</div>
