<app-game-refresh [gameId]="gameId" [rate]="rate" (currentGameUpdated)="onCurrentGameUpdated($event)"></app-game-refresh>
<div *ngIf="game && game.status !== 'SCHEDULED'" [ngSwitch]="game.kind">
  <app-beach-game *ngSwitchCase="'BEACH'" [gameId]="gameId" [game]="game" [currentSet]="currentSet" [leftTeam]="leftTeam" [rightTeam]="rightTeam"
    (teamsSwapped)="onTeamsSwapped()" (currentSetUpdated)="onCurrentSetUpdated($event)"></app-beach-game>

  <app-indoor-game *ngSwitchCase="'INDOOR'" [gameId]="gameId" [game]="game" [currentSet]="currentSet" [leftTeam]="leftTeam" [rightTeam]="rightTeam"
    (teamsSwapped)="onTeamsSwapped()" (currentSetUpdated)="onCurrentSetUpdated($event)"></app-indoor-game>

  <app-indoor4x4-game *ngSwitchCase="'INDOOR_4X4'" [gameId]="gameId" [game]="game" [currentSet]="currentSet" [leftTeam]="leftTeam" [rightTeam]="rightTeam"
    (teamsSwapped)="onTeamsSwapped()" (currentSetUpdated)="onCurrentSetUpdated($event)"></app-indoor4x4-game>
</div>
<div class="div-schedule text-center" *ngIf="game && game.status === 'SCHEDULED'">
  <ngb-alert class="mx-1 px-1" type="info" [dismissible]="false">
    <h4 class="alert-heading">{{game.homeTeam.name}} - {{game.guestTeam.name}}</h4>
    <label>This game is scheduled to start on {{game.scheduledAt | date : 'dd MMM yyyy'}} at {{game.scheduledAt | date : 'HH:mm'}}.</label>
  </ngb-alert>
</div>
<div class="div-footer">
  <app-links-bar></app-links-bar>
</div>
