.btn-android {
	color: var(--vbr-inverted-text-color);
	background-color: var(--android-color);
	border-color: var(--android-color);
}

.btn-android:hover {
	filter: var(--vbr-hover-darker);
}

.btn-facebook {
	color: var(--vbr-inverted-text-color);
	background-color: var(--facebook-color);
	border-color: var(--facebook-color);
}

.btn-facebook:hover {
	filter: var(--vbr-hover-darker);
}

.btn-sign-out {
	color: var(--vbr-cancel-color);
	background-color: inherit;
	border-color: var(--vbr-cancel-color);
}

.btn-sign-out:hover {
	color: var(--vbr-cancel-color);
	background-color: var(--vbr-light-unselected-color);
	border-color: var(--vbr-cancel-color);
}
