<div class="div-small-form div-card p-4 mt-4">
  <form novalidate autocomplete="off">
    <div class="div-card-title mb-3">
      <h5 class="vbr-text">Reset my password</h5>
      <img class="text-right vbr-logo" src="../../../favicon.ico"/>
    </div>
    <hr/>
    <div class="mb-3 vbr-text">The password must contain at least 8 characters, including 1 uppercase character, 1 digit, and 1 special character.</div>
    <div class="form-group mb-3">
      <label [ngClass]="emptyPassword || differentPasswords || invalidPassword ? 'vbr-error-text' : ''" class="vbr-text" for="password">Password</label>
      <input type="password" [ngClass]="emptyPassword || differentPasswords || invalidPassword ? 'vbr-error-input' : ''" class="vbr-text form-control"
        name="password" id="password" [(ngModel)]="password" required />
      <div class="vbr-error-feedback" *ngIf="emptyPassword">Please input a password.</div>
    </div>
    <div class="form-group mb-3">
      <label [ngClass]="emptyPassword2 || differentPasswords || invalidPassword ? 'vbr-error-text' : ''" class="vbr-text" for="password2">Confirm password</label>
      <input type="password" [ngClass]="emptyPassword2 || differentPasswords || invalidPassword ? 'vbr-error-input' : ''" class="vbr-text form-control"
        name="password2" id="password2" [(ngModel)]="password2" required />
      <div class="vbr-error-feedback" *ngIf="emptyPassword2">Please confirm the password.</div>
    </div>
    <div class="mb-3 vbr-error-text text-right" *ngIf="differentPasswords">Passwords do not match.</div>
    <div class="mb-3 alert alert-danger text-right" *ngIf="invalidPassword">Password does not satisfy the aforementioned criteria.</div>
    <div class="mb-3 alert alert-danger text-right" *ngIf="invalidResponse">An error occurred on the server.</div>
    <div class="mb-3 text-right">
      <button type="submit" class="btn vbr-button" (click)="resetPassword()">Reset</button>
    </div>
  </form>
</div>
<div class="div-footer">
  <app-links-bar></app-links-bar>
</div>
