<h2 mat-dialog-title>{{ 'user.referee.update-referee' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="refereeFormGroup" autocomplete="off" novalidate (ngSubmit)="onUpdateReferee()">
   
    <mat-form-field class="m-1" appearance="outline">
      <mat-label>{{ 'user.referee.referee' | translate }}</mat-label>
      <mat-select autoActiveFirstOption [formControl]="referee">
        <mat-optgroup label="{{ 'user.referee.me' | translate }}" *ngIf="me">
          <mat-option [value]="me">
            {{me.pseudo}}
          </mat-option>
        </mat-optgroup>
        <mat-optgroup label="{{ 'user.referee.colleagues' | translate }}">
          <mat-option *ngFor="let friend of friends" [value]="friend">
            {{friend.pseudo}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="refereeFormControl.errors?.required">{{ 'user.referee.messages.referee-required-error' | translate }}</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">{{ 'common.cancel' | translate }}</button>
  <button mat-raised-button type="submit" color="primary" (click)="onUpdateReferee()" [disabled]="!refereeFormGroup.valid">{{ 'common.update' | translate }}</button>
</mat-dialog-actions>