<div class="div-small-form div-card p-4 mt-4" *ngIf="user">
  <div class="div-card-title mb-3">
    <h5 class="vbr-text">About me</h5>
    <img class="text-right vbr-logo" src="../../../favicon.ico"/>
  </div>
  <hr/>
  <div class="row align-items-center">
    <div class="col-3 col-sm-3 my-1">
      <span class="vbr-text">Email</span>
    </div>
    <div class="col-9 col-sm-9 my-1">
      <span>{{user.email}}</span>
    </div>
    <div class="col-3 col-sm-3 my-1">
      <span class="vbr-text">Pseudo</span>
    </div>
    <div class="col-9 col-sm-9 my-1">
      <span>{{user.pseudo}}</span>
    </div>
  </div>
</div>
<div class="div-small-form div-card p-4 mt-4" *ngIf="user">
  <div class="div-card-title mb-3">
    <h5 class="vbr-text">Update my password</h5>
    <img class="text-right vbr-logo" src="../../../favicon.ico"/>
  </div>
  <hr/>
  <form novalidate autocomplete="off">
    <div class="form-group mb-3">
      <label [ngClass]="emptyCurrentPassword ? 'vbr-error-text' : ''" class="vbr-text" for="current-password">Current password</label>
      <input type="password" [ngClass]="emptyCurrentPassword ? 'vbr-error-input' : ''" class="vbr-text form-control"
        name="current-password" id="current-password" [(ngModel)]="userPasswordUpdate.currentPassword" required />
      <div class="vbr-error-feedback" *ngIf="emptyCurrentPassword">Please input a password.</div>
    </div>
    <div class="mb-3 vbr-text">The password must contain at least 8 characters, including 1 uppercase character, 1 digit, and 1 special character.</div>
    <div class="form-group mb-3">
      <label [ngClass]="emptyNewPassword || differentPasswords || invalidPassword ? 'vbr-error-text' : ''" class="vbr-text" for="new-password">New password</label>
      <input type="password" [ngClass]="emptyNewPassword || differentPasswords || invalidPassword ? 'vbr-error-input' : ''" class="vbr-text form-control"
        name="new-password" id="new-password" [(ngModel)]="userPasswordUpdate.newPassword" required />
      <div class="vbr-error-feedback" *ngIf="emptyNewPassword">Please input a password.</div>
    </div>
    <div class="form-group mb-3">
      <label [ngClass]="emptyNewPassword2 || differentPasswords || invalidPassword ? 'vbr-error-text' : ''" class="vbr-text" for="new-password2">Confirm new password</label>
      <input type="password" [ngClass]="emptyNewPassword2 || differentPasswords || invalidPassword ? 'vbr-error-input' : ''" class="vbr-text form-control"
        name="new-password2" id="new-password2" [(ngModel)]="confirmedPassword" required />
      <div class="vbr-error-feedback" *ngIf="emptyNewPassword2">Please input a password.</div>
    </div>
    <div class="mb-3 vbr-error-text text-right" *ngIf="differentPasswords">Passwords do not match.</div>
    <div class="mb-3 alert alert-danger text-right" *ngIf="invalidPassword">Password does not satisfy the aforementioned criteria.</div>
    <div class="mb-3 alert alert-danger text-right" *ngIf="invalidResponse">An error occurred on the server.</div>
    <div class="text-right">
      <button type="submit" class="btn vbr-button" (click)="updateUserPassword()">Update password</button>
    </div>
  </form>
</div>
<div class="div-footer">
  <app-links-bar></app-links-bar>
</div>
