.div-drawer-side {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
}

.div-drawer-logo {
  height: 60px;
  background-color: var(--vbr-background-color);
  border-right: 1px solid var(--vbr-card-border-color);
}

.div-drawer {
  width: inherit;
  background-color: var(--vbr-background-color);
  height: 100vh;
  border-right: 1px solid var(--vbr-card-border-color);
  border-top: 1px solid var(--vbr-card-border-color);
}

.div-component-side {
  margin-left: 300px;
}

.div-top-bar {
  background-color: var(--vbr-primary-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.notification {
  font-size: 1em;
  color: var(--vbr-primary-color);
  background-color: var(--vbr-secondary-color);
  border-color: var(--vbr-secondary-color);
}

.drawer-trigger-button {
  font-size: 1.5em;
}

.drawer-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5em;
  color: var(--vbr-text-color);
}

.drawer-link {
  text-decoration: none;
  color: var(--vbr-text-color);
  display: block;
}

.drawer-link:hover {
  color: var(--vbr-primary-color);
}

.selected-drawer-link {
  text-decoration: none;
  color: var(--vbr-primary-color);
  background-color: var(--vbr-secondary-color);
  border-radius: 5px 20px 20px 5px;
  display: block;
}

.selected-drawer-link:hover {
  filter: var(--vbr-hover-brighter);
}

.brand-img-size {
  width: auto;
  height: 40px;
}

.div-component-side-overlay {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.user-pseudo {
  color: var(--vbr-inverted-text-color);
}

.placeholder-color::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--vbr-inverted-text-color);
  opacity: 1; /* Firefox */
}

@media screen and (max-width: 992px) {
  .div-drawer-side {
    width: 0px;
    transition: var(--vbr-transition-duration);
    -webkit-transition: var(--vbr-transition-duration);
    overflow: hidden;
    z-index: 2;
  }

  .div-drawer-side span {
    transition: var(--vbr-transition-duration);
    -webkit-transition: var(--vbr-transition-duration);
  }

  .div-drawer-side a {
    transition: var(--vbr-transition-duration);
    -webkit-transition: var(--vbr-transition-duration);
  }

  .div-component-side {
    margin-left: 0;
  }

  .user-pseudo {
    display: none;
  }

  .bar-search {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .drawer-close-button {
    display: none;
  }

  .drawer-trigger-button {
    display: none;
  }

  .modal-search {
    display: none;
  }
}
