.drawer-container {
  min-width: 300px;
}

.drawer-link {
  text-decoration: none;
  color: var(--vbr-text-color);
  display: block;
}

.drawer-link:hover {
  color: var(--vbr-primary-color);
}

.selected-drawer-link {
  text-decoration: none;
  color: var(--vbr-primary-color);
  background-color: var(--vbr-light-primary-color);
  border-radius: 5px 20px 20px 5px;
  display: block;
}

.scroll-to-top {
  position: fixed;
  top: calc(1.1 * var(--toolbar-height));
  right: calc(0.5 * var(--toolbar-height));
  z-index: 5;
}