<div class="comp-container p-2 text-center" *ngIf="game">
  <span class="card-text vbr-text text-center">{{game.scheduledAt | date : 'mediumDate'}}</span>
  <span class="div-summary my-2" *ngIf="game">
    <span class="card-text vbr-text text-center small-line" [innerHTML]="getTeamName(leftTeam)"></span>
    <span class="badge text-center point-badge" [style.background-color]="utils.getTeamBackgroundColor(game, leftTeam)" [style.color]="utils.getTeamTextColor(game, leftTeam)"
      [style.border-color]="utils.getTeamBorderColor(game, leftTeam)" [innerHTML]="getPoints(leftTeam)"></span>
    <button class="btn btn-sm vbr-button-inverted rounded-circle" (click)="swapTeams()"><i class="fa fa-exchange"></i></button>
    <span class="badge text-center point-badge" [style.background-color]="utils.getTeamBackgroundColor(game, rightTeam)" [style.color]="utils.getTeamTextColor(game, rightTeam)"
      [style.border-color]="utils.getTeamBorderColor(game, rightTeam)" [innerHTML]="getPoints(rightTeam)"></span>
    <span class="card-text vbr-text text-center small-line" [innerHTML]="getTeamName(rightTeam)"></span>
  </span>
  <span class="card-text vbr-text text-center" *ngIf="game && game.league.length">
    {{game.league}}
    <span *ngIf="game.division && game.division.length">&nbsp;/&nbsp;{{game.division}}</span>
  </span>
  <span class="card-text vbr-text text-center" *ngIf="game.referee && game.referee.length"><i class="fa fa-user mx-1"></i>by {{game.referee}}</span>
  <div class="mt-3">
    <span class="text-center vbr-text point-badge" *ngIf="game"><i class="fa fa-hourglass-2 mx-1"></i>{{remainingTime | date : 'mm:ss'}}</span>
  </div>
</div>
