<div class="text-center">
  <div class="div-links">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <a fxFlex href="{{playUrl}}" target="_blank" class="m-1">
        <button class="btn-android" mat-raised-button type="button"><i class="fa fa-android mr-2"></i>Download our Android app</button>
      </a>
      <a fxFlex href="{{facebookUrl}}" target="_blank" class="m-1">
        <button class="btn-facebook" mat-raised-button type="button"><i class="fa fa-facebook mr-2"></i>Join us on Facebook</button>
      </a>
      <a fxFlex [routerLink]="getPrivacyPolicyUrl()" target="_blank" class="m-1">
        <button mat-button color="primary" type="button">Privacy Policy</button>
      </a>
      <a fxFlex *ngIf="signedIn" [routerLink]="getHomeUrl()" target="_blank" class="m-1">
        <button mat-button color="primary" type="button"><i class="fa fa-home mr-2"></i>Home</button>
      </a>
      <button fxFlex *ngIf="signedIn" mat-button class="btn-sign-out" type="button" (click)="signOut()" class="m-1"><i class="fa fa-sign-out mr-2"></i>Sign out</button>
    </div>
  </div>
</div>
