<div class="my-3 text-center" *ngIf="league">
  <span class="h2">{{league.name}}</span>
</div>

<mat-tab-group animationDuration="0ms" *ngIf="league" mat-align-tabs="center">

  <mat-tab label="Dashboard">
    <app-league-dashboard [league]="league"></app-league-dashboard>
  </mat-tab>
  
  <mat-tab label="Rankings">
    <app-division-rankings [league]="league"></app-division-rankings>
  </mat-tab>

  <mat-tab label="Games">
    <app-league-games [league]="league"></app-league-games>
  </mat-tab>

</mat-tab-group>