.game-summary {
  width: 100%;
}

.set-selector {
  width: 100%;
}

.set-summary {
  width: 100%;
}

.indoor-court {
  width: 100%;
}

.timeouts {
  width: 100%;
}

.substitutions {
  width: 100%;
}

.players {
  width: 100%;
}

.ladder {
  width: 100%;
}

.sanctions {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .div-refresh {
    padding-left: 2%;
  }

  .div-content {
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .div-summary {
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .div-secondary {
    width: 100%;
    display: flex;
    flex-flow: column;
  }
}

@media screen and (min-width: 800px) {
  .div-refresh {
    padding-left: 10%;
  }

  .div-content {
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 57fr 43fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .div-summary {
    display: flex;
    flex-flow: column;
    grid-column: 1;
    grid-row: 1;
  }

  .div-secondary {
    display: flex;
    flex-flow: column;
    grid-column: 2;
    grid-row: 1;
  }

  .sanctions {
    grid-column: 2;
    grid-row: 3;
  }

  .ladder {
    grid-column: auto / span 2;
    grid-row: 2;
  }

  .div-tertiary {
    display: flex;
    flex-flow: column;
    grid-column: 1;
    grid-row: 3;
  }
}
