.point-badge {
  font-weight: normal;
  font-size: 1.6em;
}

.div-summary {
  display: grid;
  grid-template-columns: 35fr 10fr 10fr 10fr 35fr;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.small-line {
  line-height: 1em;
}

@media screen and (max-width: 1200px) {
  .point-badge {
    font-size: 1.2em;
  }
}
