<div class="text-center">
  <ul class="list-unstyled list-inline">
    <li class="list-inline-item my-1"><a [ngClass]="getLinkClass(0)" [routerLink]="getHomeUrl()">Home</a></li>
    <li class="list-inline-item my-1"><a [ngClass]="getLinkClass(1)" [routerLink]="getUserLeaguesUrl()">My Tournaments and Leagues</a></li>
    <li class="list-inline-item my-1"><a [ngClass]="getLinkClass(2)" [routerLink]="getUserGamesUrl()">My Games</a></li>
    <li class="list-inline-item my-1"><a [ngClass]="getLinkClass(3)" [routerLink]="getUserTeamsUrl()">My Teams</a></li>
    <li class="list-inline-item my-1"><a [ngClass]="getLinkClass(4)" [routerLink]="getUserRulesUrl()">My Rules</a></li>
    <li class="list-inline-item my-1"><a [ngClass]="getLinkClass(5)" [routerLink]="getUserColleaguesUrl()">My Colleagues</a></li>
  </ul>
</div>
