<div class="modal-header">
  <h5 class="modal-title vbr-text">Update referee</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="game && user">
  <form class="needs-validation" (submit)="onSubmitForm()" novalidate autocomplete="off">

    <div class="row mb-3">
      <div class="col-12 col-sm-10">
        <label class="vbr-text" for="referee">Referee</label>
        <select class="vbr-text custom-select" name="referee" id="referee" [(ngModel)]="selectedReferee">
          <optgroup label="Me" *ngIf="me">
            <option [ngValue]="me">{{me.pseudo}}</option>
          </optgroup>
          <optgroup label="My colleagues">
            <option *ngFor="let friend of friends" [ngValue]="friend">{{friend.pseudo}}</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn cancel-button" (click)="close()">Close</button>
      <button type="submit" class="btn vbr-button">Update</button>
    </div>
  </form>
</div>
