.vbr-timeout-text {
  color: darkorange;
}

.point-badge {
  font-weight: normal;
  font-size: 2em;
}

.points-line {
  display: grid;
  grid-template-columns: 35fr 15fr 15fr 35fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: start;
}

.left-timeout {
  justify-self: end;
}

.right-timeout {
  justify-self: start;
}

@media screen and (max-width: 1200px) {
  .point-badge {
    font-size: 1.4em;
  }

  .points-line {
    grid-template-columns: 30fr 20fr 20fr 30fr;
  }
}
