<div class="comp-container p-2" *ngIf="game">
  <h6 class="card-title vbr-text-color">Sanctions</h6>
  <div class="div-grid-50-50" *ngIf="game">
    <table *ngIf="game">
      <tbody>
        <tr *ngFor="let sanction of getSanctions(leftTeam)">
          <td class="mx-1 text-center">
            <img class="sanction-icon mr-1" [src]="utils.getSanctionIcon(sanction)" alt="card">
          </td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getPlayerBackgroundColor(game, leftTeam, sanction.num)" [style.color]="utils.getPlayerTextColor(game, leftTeam, sanction.num)" [innerHTML]="utils.getPlayerForSanction(game, leftTeam, sanction.num)"></span>
          </td>
          <td class="mx-1 text-center">
            <span class="vbr-text player-badge-font ml-2" [innerHTML]="getScore(leftTeam, sanction)"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="game">
      <tbody>
        <tr *ngFor="let sanction of getSanctions(rightTeam)">
          <td class="mx-1 text-center">
            <img class="sanction-icon mr-1" [src]="utils.getSanctionIcon(sanction)" alt="card">
          </td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getPlayerBackgroundColor(game, rightTeam, sanction.num)" [style.color]="utils.getPlayerTextColor(game, rightTeam, sanction.num)" [innerHTML]="utils.getPlayerForSanction(game, rightTeam, sanction.num)"></span>
          </td>
          <td class="mx-1 text-center">
            <span class="vbr-text player-badge-font ml-2" [innerHTML]="getScore(rightTeam, sanction)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
