.div-sign-in {
	max-width: 1500px;
	margin: 0 auto;
}

.div-sign-out {
	max-width: 1500px;
	margin: 0 auto;
}

.div-private-policy {
	max-width: 1500px;
	margin: 0 auto;
}

.btn-facebook {
	color: white;
	background-color: #4267a8;
	border-color: #4267a8;
}

.btn-facebook:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	filter: brightness(120%);
}

.btn-google {
	color: white;
	background-color: #db4a38;
	border-color: #db4a38;
}

.btn-google:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	filter: brightness(120%);
}

.btn-sign-out {
	color: #424242;
	background-color: inherit;
	border-color: #424242;
}

.btn-sign-out:hover {
	color: white;
	background-color: #424242;
	border-color: #424242;
}
