<div class="div-header">
  <app-navigation-bar></app-navigation-bar>
</div>
<div class="div-sign-in text-center" *ngIf="!signedIn">
  <ngb-alert class="mx-1 px-1" type="info" (close)="hideGreetings1()" *ngIf="showGreetings1">
    <h4 class="alert-heading">Welcome!</h4>
    <label>By signing in, you can create your teams and your rules which you can then use to schedule games and tournaments.</label>
  </ngb-alert>
  <ul class="list-unstyled list-inline m-1 px-1">
    <li class="list-inline-item my-1"><button class="btn btn-facebook" (click)="signInWithFB()"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Sign in with Facebook</button></li>
    <li class="list-inline-item my-1"><button class="btn btn-google" (click)="signInWithGoogle()"><i class="fa fa-google"></i>&nbsp;&nbsp;Sign in with Google</button></li>
  </ul>
</div>
<div class="div-user text-center mt-3" *ngIf="signedIn">
  <div>
    <app-user-nav [selectedIndex]="0"></app-user-nav>
  </div>
  <div class="row m-1">
    <ngb-alert class="px-1 col-12 col-sm-12" type="success" (close)="hideGreetings2()" *ngIf="showGreetings2">
      <h4 class="alert-heading">Welcome {{user.name}}!</h4>
      <label>You can manage all your data from this page.</label>
    </ngb-alert>
    <div class="px-1 col-12 col-sm-6 col-md-3">
      <div class="jumbotron div-jumbotron p-4">
        <p class="lead vbr-text">My tournaments&nbsp;&nbsp;&nbsp;<span class="badge vbr-button-color">{{numberOfLeagues}}</span></p>
        <hr class="mt-2 mb-4"/>
        <a class="btn vbr-button-inverted" [routerLink]="getUserLeaguesUrl()" role="button">Go to my tournaments »</a>
      </div>
    </div>
    <div class="px-1 col-12 col-sm-6 col-md-3">
      <div class="jumbotron div-jumbotron p-4">
        <p class="lead vbr-text">My games&nbsp;&nbsp;&nbsp;<span class="badge vbr-button-color">{{numberOfGames}}</span></p>
        <hr class="mt-2 mb-4"/>
        <a class="btn vbr-button-inverted" [routerLink]="getUserGamesUrl()" role="button">Go to my games »</a>
      </div>
    </div>
    <div class="px-1 col-12 col-sm-6 col-md-3">
      <div class="jumbotron div-jumbotron p-4">
        <p class="lead vbr-text">My teams&nbsp;&nbsp;&nbsp;<span class="badge vbr-button-color">{{numberOfTeams}}</span></p>
        <hr class="mt-2 mb-4"/>
        <a class="btn vbr-button-inverted" [routerLink]="getUserTeamsUrl()" role="button">Go to my teams »</a>
      </div>
    </div>
    <div class="px-1 col-12 col-sm-6 col-md-3">
      <div class="jumbotron div-jumbotron p-4">
        <p class="lead vbr-text">My rules&nbsp;&nbsp;&nbsp;<span class="badge vbr-button-color">{{numberOfRules}}</span></p>
        <hr class="mt-2 mb-4"/>
        <a class="btn vbr-button-inverted" [routerLink]="getUserRulesUrl()" role="button">Go to my rules »</a>
      </div>
    </div>
  </div>
</div>
<div class="div-sign-out text-right" *ngIf="signedIn">
  <button class="btn btn-sign-out m-2" (click)="signOut()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign out</button>
</div>
<div class="div-private-policy text-right">
  <a class="btn vbr-button-inverted m-2" [routerLink]="getPrivatePolicyUrl()" role="button">Private Policy</a>
</div>
<div class="div-footer">
  <app-links-bar></app-links-bar>
</div>
