.position-1-l {
  align-self: center;
  justify-self: start;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.position-2-l {
  align-self: center;
  justify-self: start;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.position-1-r {
  align-self: center;
  justify-self: end;
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}

.position-2-r {
  align-self: center;
  justify-self: end;
  grid-column: 3;
  grid-row: 2;
  text-align: center;
}

.serve-1-l {
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.serve-2-l {
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.serve-1-r {
  align-self: center;
  justify-self: center;
  grid-column: 4;
  grid-row: 1;
  text-align: center;
}

.serve-2-r {
  align-self: center;
  justify-self: center;
  grid-column: 4;
  grid-row: 2;
  text-align: center;
}

.div-court {
  display: grid;
  grid-template-columns: 22fr 28fr 28fr 22fr;
  width: 100%;
  max-width: 400px;
  height: 200px;
  background-size: 100% 100%;
  background-image: url(../../../assets/beach_court.png);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.serve {
  width: 24px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .div-court {
    width: 75%;
    max-width: 300px;
    height: 130px;
  }

  .serve {
    width: 16px;
  }
}
