<div class="div-small-form div-card p-4 mt-4">
  <form novalidate autocomplete="off">
    <div class="div-card-title mb-3">
      <h5 class="vbr-text">Lost my password</h5>
      <img class="text-right vbr-logo" src="../../../favicon.ico"/>
    </div>
    <hr/>
    <div class="form-group mb-3">
      <label [ngClass]="emptyEmail ? 'vbr-error-text' : ''" class="vbr-text" for="email">Email</label>
      <input type="email" [ngClass]="emptyEmail ? 'vbr-error-input' : ''" class="vbr-text form-control" name="email" id="email" [(ngModel)]="userEmail" required />
      <div class="vbr-error-feedback" *ngIf="emptyEmail">Please input an email.</div>
    </div>
    <div class="mb-3 alert alert-danger text-right" *ngIf="invalidResponse">{{userEmail}} could not be found.</div>
    <div class="mb-3 alert alert-success text-right" *ngIf="resetInitiated">A recovery link was sent to {{userEmail}}.</div>
    <div class="mb-3 text-right">
      <button type="submit" class="btn vbr-button" (click)="initiatePasswordReset()">Send recovery link</button>
    </div>
  </form>
</div>
<div class="div-footer">
  <app-links-bar></app-links-bar>
</div>
