@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

:root {
  --vbr-body-color: #f1f1f1;
  --vbr-background-color: white;
  --vbr-card-border-color: #e4e4e4;
  --vbr-primary-color: #1f4294;
  --vbr-light-primary-color: #cedaf5;
  --vbr-secondary-color: #f2bb1a;
  --vbr-text-color: #1f1f1f;
  --vbr-inverted-text-color: white;
  --vbr-indoor-color: #1f4294;
  --vbr-indoor-light-color: #cedaf5;
  --vbr-indoor-4x4-color: #781fc9;
  --vbr-indoor-4x4-light-color: #dbc0f5;
  --vbr-beach-color: #f2bb1a;
  --vbr-beach-light-color: #f8dc8a;
  --vbr-snow-color: #2980b9;
  --vbr-snow-light-color: #e7f2fa;
  --vbr-live-color: red;
  --vbr-live-light-color: #faa;
  --vbr-ladies-color: #c2185b;
  --vbr-ladies-light-color: #f7c0d6;
  --vbr-gents-color: #1f4294;
  --vbr-gents-light-color: #cedaf5;
  --vbr-mixed-color: #006232;
  --vbr-mixed-light-color: #c8ffe4;
  --vbr-error-color: #bc0019;
  --vbr-error-light-color: #ffbcc5;
  --vbr-cancel-color: #424242;
  --vbr-unselected-color: #1f1f1f;
  --vbr-light-unselected-color: #e4e2e4;
  --facebook-color: #4267a8;
  --google-color: #db4a38;
  --android-color: #6ab344;
  --vbr-hover-brighter: brightness(120%);
  --vbr-hover-darker: brightness(90%);
  --material-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  --material-shadow-big: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
  --vbr-transition-duration: 0.4s;
  --chip-padding: 1rem;
  --drawer-width: 300px;
  --toolbar-height: 50px;
  --fab-padding: 1.6rem;
}

.vbr-body {
  background-color: var(--vbr-body-color);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.vbr-text {
  font-weight: normal;
  color: var(--vbr-text-color);
}

.vbr-error-text {
  font-weight: normal;
  color: var(--vbr-error-color);
}

.vbr-error-feedback {
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--vbr-error-color);
}

.vbr-error-input {
  border-color: var(--vbr-error-color);
  color: var(--vbr-error-color);
}

.vbr-button {
	background-color: var(--vbr-primary-color);
  border-color: var(--vbr-primary-color);
  color: var(--vbr-inverted-text-color);
}

.vbr-button-color {
	background-color: var(--vbr-primary-color);
  border-color: var(--vbr-primary-color) !important;
  color: var(--vbr-inverted-text-color);
}

.vbr-button:hover {
  filter: var(--vbr-hover-brighter);
  color: var(--vbr-inverted-text-color);
}

.vbr-button-inverted {
  background-color: inherit;
  color: var(--vbr-primary-color);
}

.vbr-button-inverted:hover {
  background-color: var(--vbr-light-primary-color);
  color: var(--vbr-primary-color);
  border-color: var(--vbr-light-primary-color);
}

.vbr-button-unselected {
  background-color: inherit;
  color: var(--vbr-unselected-color);
  border-color: var(--vbr-unselected-color);
}

.vbr-button-unselected:hover {
  background-color: var(--vbr-primary-color);
  color: var(--vbr-inverted-text-color);
  border-color: var(--vbr-primary-color);
}

.vbr-button-selected {
  background-color: var(--vbr-light-primary-color);
  color: var(--vbr-primary-color);
  border-color: var(--vbr-primary-color);
}

.vbr-button-selected:hover {
  background-color: var(--vbr-primary-color);
  color: var(--vbr-inverted-text-color);
  border-color: var(--vbr-primary-color);
}

.cancel-button {
	color: var(--vbr-cancel-color);
	background-color: inherit;
}

.cancel-button:hover {
	color: var(--vbr-inverted-text-color);
	background-color: var(--vbr-cancel-color);
	border-color: var(--vbr-cancel-color);
}

.vbr-live-button {
	background-color: var(--vbr-live-color);
  border-color: var(--vbr-live-color);
  color: var(--vbr-inverted-text-color);
}

.vbr-live-button:hover {
  filter: var(--vbr-hover-darker);
  color: var(--vbr-inverted-text-color);
}

.vbr-beach-button {
	background-color: var(--vbr-beach-color);
  border-color: var(--vbr-beach-color);
  color: var(--vbr-text-color);
}

.vbr-beach-button:hover {
  filter: var(--vbr-hover-brighter);
  color: var(--vbr-text-color);
}

.vbr-indoor-button {
	background-color: var(--vbr-indoor-color);
  border-color: var(--vbr-indoor-color);
  color: var(--vbr-inverted-text-color);
}

.vbr-indoor-button:hover {
  filter: var(--vbr-hover-darker);
  color: var(--vbr-inverted-text-color);
}

.vbr-indoor-4x4-button {
	background-color: var(--vbr-indoor-4x4-color);
  border-color: var(--vbr-indoor-4x4-color);
  color: var(--vbr-inverted-text-color);
}

.vbr-indoor-4x4-button:hover {
  filter: var(--vbr-hover-darker);
  color: var(--vbr-inverted-text-color);
}

.vbr-snow-button {
	background-color: var(--vbr-snow-color);
  border-color: var(--vbr-snow-color);
  color: var(--vbr-inverted-text-color);
}

.vbr-snow-button:hover {
  filter: var(--vbr-hover-darker);
  color: var(--vbr-inverted-text-color);
}

.vbr-mixed-button {
	background-color: var(--vbr-mixed-color);
  border-color: var(--vbr-mixed-color);
  color: var(--vbr-inverted-text-color);
}

.vbr-mixed-button:hover {
  filter: var(--vbr-hover-darker);
  color: var(--vbr-inverted-text-color);
}

.vbr-ladies-button {
	background-color: var(--vbr-ladies-color);
  border-color: var(--vbr-ladies-color);
  color: var(--vbr-inverted-text-color);
}

.vbr-ladies-button:hover {
  filter: var(--vbr-hover-darker);
  color: var(--vbr-inverted-text-color);
}

.vbr-gents-button {
	background-color: var(--vbr-gents-color);
  border-color: var(--vbr-gents-color);
  color: var(--vbr-inverted-text-color);
}

.vbr-gents-button:hover {
  filter: var(--vbr-hover-darker);
  color: var(--vbr-inverted-text-color);
}

/* Switch */

.vbr-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.vbr-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d1d3;
  transition: var(--vbr-transition-duration);
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--vbr-background-color);
  transition: var(--vbr-transition-duration);
}

input:checked + .slider {
  background-color: var(--vbr-primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Chip */

.chip {
   display: inline-block;
   color: var(--vbr-text-color);
   padding: 0 var(--chip-padding);
   height: calc(var(--chip-padding) * 2);
   line-height: calc(var(--chip-padding) * 2);
   border-radius: var(--chip-padding);
   border-color: var(--vbr-light-unselected-color);
   background-color: var(--vbr-light-unselected-color);
 }

 .vbr-live-chip {
   border-color: var(--vbr-live-light-color) !important;
   background-color: var(--vbr-live-light-color) !important;
 }

 .vbr-indoor-chip {
   border-color: var(--vbr-indoor-light-color) !important;
   background-color: var(--vbr-indoor-light-color) !important;
 }

 .vbr-indoor-4x4-chip {
   border-color: var(--vbr-indoor-4x4-light-color) !important;
   background-color: var(--vbr-indoor-4x4-light-color) !important;
 }

 .vbr-beach-chip {
   border-color: var(--vbr-beach-light-color) !important;
   background-color: var(--vbr-beach-light-color) !important;
 }

 .vbr-snow-chip {
   border-color: var(--vbr-snow-light-color) !important;
   background-color: var(--vbr-snow-light-color) !important;
 }

 .vbr-mixed-chip {
   border-color: var(--vbr-mixed-light-color) !important;
   background-color: var(--vbr-mixed-light-color) !important;
 }

 .vbr-ladies-chip {
   border-color: var(--vbr-ladies-light-color) !important;
   background-color: var(--vbr-ladies-light-color) !important;
 }

 .vbr-gents-chip {
   border-color: var(--vbr-gents-light-color) !important;
   background-color: var(--vbr-gents-light-color) !important;
 }

.div-card-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.div-card {
  background-color: var(--vbr-background-color);
  border: 1px solid var(--vbr-card-border-color);
}

.div-user {
	max-width: 1500px;
	margin: 0 auto;
}

.div-small-form {
  max-width: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mat-form-field {
  min-width: 300px;
  width: 100%;
}

.comp-container {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
}

.div-grid-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  align-items: start;
  justify-items: start;
  align-content: center;
  justify-content: start;
}

.fill-grid-cell {
  justify-self: stretch;
}

.player-badge {
  font-weight: normal;
  font-size: 1.3rem;
  width: 50px;
}

.player-badge-font {
  font-weight: normal;
  font-size: 1.3rem;
}

.mat-form-field {
  min-width: 300px;
}

.form-control:focus {
  border-color: var(--vbr-primary-color);
  box-shadow: 0 0 5px var(--vbr-primary-color);
}

.custom-select:focus {
  border-color: var(--vbr-primary-color);
  box-shadow: 0 0 5px var(--vbr-primary-color);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: var(--vbr-primary-color);
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: var(--vbr-primary-color);
}

.badge {
  border: 1px solid var(--vbr-text-color);
}

.vbr-logo {
  height: 30px;
  width: auto;
}

.fab-refresh {
  position: fixed;
  bottom: calc(0.5 * var(--toolbar-height));
  right: calc(0.5 * var(--toolbar-height));
  z-index: 5;
}

.fab-refresh button {
  border-radius: var(--fab-padding);
  line-height: calc(1.6 * var(--fab-padding));
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-shadow: var(--material-shadow-big);
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.close:focus, .close:active {
  outline: none !important;
  box-shadow: none !important;
}

/* Ripple effect */
.btn {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .4s, opacity 1s;
}

.btn:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

.mat-snack-bar-container {
  margin-top: 300px !important;
 }

.info-snackbar {
  color: var(--vbr-primary-color);
  background-color: var(--vbr-light-primary-color);
}

.info-snackbar .mat-simple-snackbar {
  justify-content: center;
}

.error-snackbar {
  color: var(--vbr-error-color);
  background-color: var(--vbr-error-light-color);
}

.error-snackbar .mat-simple-snackbar {
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 1rem;
  }

  .player-badge {
    font-size: 1rem;
    width: 40px;
  }

  .player-badge-font {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .icon-text {
    display: none;
  }
}

/* Date picker */

.cdk-overlay-container {
  z-index: 9999;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  color: var(--vbr-background-color);
  background-color: var(--vbr-primary-color);
}

.owl-dt-container {
  border-radius: 5px;
}

.owl-dt-control-button {
  color: var(--vbr-primary-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }