<div class="div-content">
  <div class="card div-card div-search p-3 my-1">
    <p class="lead vbr-text text-center">Search games</p>
    <hr class="mt-2 mb-4"/>
    <div>
      <div class="input-group my-2">
        <div class="input-group-prepend">
          <button type="button" class="btn vbr-button" (click)="onSearchTokenClicked()"><i class="fa fa-search"></i></button>
        </div>
        <input type="text" class="form-control vbr-text" placeholder="By team / league / referee" [(ngModel)]="searchToken"
          (keyup.enter)="onSearchTokenClicked()"/>
      </div>
      <button type="button" class="btn vbr-button my-2 mr-4" (click)="onSearchLiveClicked()"><i class="fa fa-mixcloud mr-2"></i>Live games</button>
      <button type="button" class="btn vbr-button my-2" (click)="onSearchTodayClicked()"><i class="fa fa-calendar-check-o mr-2"></i>Today's games</button>
      <div class="input-group my-2">
        <div class="input-group-prepend">
          <button type="button" class="btn vbr-button" (click)="onSearchDateClicked()"><i class="fa fa-calendar-o"></i></button>
        </div>
        <input class="form-control vbr-text" [owlDateTime]="dtp" [owlDateTimeTrigger]="dtp" [(ngModel)]="searchDate" (dateTimeChange)="onSearchDateClicked()"
          [min]="minDate" placeholder="By date" (keydown)="$event.preventDefault()" readonly>
        <owl-date-time [pickerType]="'calendar'" #dtp></owl-date-time>
      </div>
    </div>
  </div>
  <div>
  <ng-container [ngSwitch]="searchType">
    <app-game-list *ngSwitchCase="searchTypeEnum.Token" [token]="searchToken"></app-game-list>
    <app-game-list *ngSwitchCase="searchTypeEnum.Live" [live]="true"></app-game-list>
    <app-game-list *ngSwitchCase="searchTypeEnum.Date" [date]="searchDateStr"></app-game-list>
  </ng-container>
</div>
<div class="div-footer">
  <app-links-bar></app-links-bar>
</div>
