<div class="div-user-profile text-right my-2">
  <a class="btn vbr-button-inverted m-2" [routerLink]="getPrivatePolicyUrl()" role="button">Private Policy</a>
  <a class="btn vbr-button-inverted m-2" [routerLink]="getUserUrl()"><i *ngIf="!image" class="fa fa-user"></i><img *ngIf="image" [src]="image" class="user-image"/>&nbsp;&nbsp;My data</a>
</div>
<div class="my-3 container-fluid text-center">
  <span class="h2 vbr-text-color"><img class="app-img" src="../../assets/vbr_title.png" alt="vbr">&nbsp;Volleyball Referee</span>
</div>
<div class="div-card card my-3">
  <div class="card-body">
    <h5 class="card-title vbr-text-color">Search Games</h5>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn vbr-button" (click)="onSearchTokenClicked(searchedToken)"><i class="fa fa-search"></i></button>
      </div>
      <input type="text" class="form-control vbr-text-color" placeholder="By team / league / referee" #searchedToken (keyup.enter)="onSearchTokenClicked(searchedToken)"/>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn vbr-button" (click)="onSearchDateClicked()"><i class="fa fa-search"></i></button>
      </div>
      <input type="date" class="form-control vbr-text-color" min="2018-01-02" max="2038-01-02" [ngModel]="dateModel | date:'yyyy-MM-dd'" (ngModelChange)="dateModel = $event" (keyup.enter)="onSearchDateClicked()"/>
    </div>

    <div class="input-group">
      <a class="btn vbr-button" [routerLink]="getLiveUrl()"><i class="fa fa-mixcloud"></i>&nbsp;&nbsp;Live games</a>
    </div>
  </div>

  <div class="mt-2">
    <app-game-statistics></app-game-statistics>
  </div>
</div>

<app-links-bar></app-links-bar>

<div class="div-card card text-center">
  <div class="card-body">
    <div class="fb-page" data-href="https://www.facebook.com/VolleyballReferee/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
      <blockquote cite="https://www.facebook.com/VolleyballReferee/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/VolleyballReferee/">Volleyball Referee</a></blockquote>
    </div>
  </div>
</div>
