<div class="comp-container p-2" *ngIf="game">
  <h6 class="card-title vbr-text-color">Starting Line-up</h6>
  <div class="div-grid-50-50" *ngIf="game">
    <table *ngIf="game">
      <tbody>
        <tr>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">IV</span></td>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">III</span></td>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">II</span></td>
        </tr>
        <tr>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, leftTeam)" [style.color]="utils.getTeamTextColor(game, leftTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, leftTeam)" [innerHTML]="getPlayerAt(leftTeam, 4)"></span>
          </td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, leftTeam)" [style.color]="utils.getTeamTextColor(game, leftTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, leftTeam)" [innerHTML]="getPlayerAt(leftTeam, 3)"></span>
          </td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, leftTeam)" [style.color]="utils.getTeamTextColor(game, leftTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, leftTeam)" [innerHTML]="getPlayerAt(leftTeam, 2)"></span>
          </td>
        </tr>
        <tr *ngIf="game.kind === 'INDOOR'">
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">V</span></td>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">VI</span></td>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">I</span></td>
        </tr>
        <tr *ngIf="game.kind === 'INDOOR_4X4'">
          <td class="mx-1 text-center"></td>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">I</span></td>
          <td class="mx-1 text-center"></td>
        </tr>
        <tr *ngIf="game.kind === 'INDOOR'">
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, leftTeam)" [style.color]="utils.getTeamTextColor(game, leftTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, leftTeam)" [innerHTML]="getPlayerAt(leftTeam, 5)"></span>
          </td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, leftTeam)" [style.color]="utils.getTeamTextColor(game, leftTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, leftTeam)" [innerHTML]="getPlayerAt(leftTeam, 6)"></span>
          </td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, leftTeam)" [style.color]="utils.getTeamTextColor(game, leftTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, leftTeam)" [innerHTML]="getPlayerAt(leftTeam, 1)"></span>
          </td>
        </tr>
        <tr *ngIf="game.kind === 'INDOOR_4X4'">
          <td class="mx-1 text-center"></td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, leftTeam)" [style.color]="utils.getTeamTextColor(game, leftTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, leftTeam)" [innerHTML]="getPlayerAt(leftTeam, 1)"></span>
          </td>
          <td class="mx-1 text-center"></td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="game">
      <tbody>
        <tr>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">IV</span></td>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">III</span></td>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">II</span></td>
        </tr>
        <tr>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, rightTeam)" [style.color]="utils.getTeamTextColor(game, rightTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, rightTeam)" [innerHTML]="getPlayerAt(rightTeam, 4)"></span>
          </td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, rightTeam)" [style.color]="utils.getTeamTextColor(game, rightTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, rightTeam)" [innerHTML]="getPlayerAt(rightTeam, 3)"></span>
          </td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, rightTeam)" [style.color]="utils.getTeamTextColor(game, rightTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, rightTeam)" [innerHTML]="getPlayerAt(rightTeam, 2)"></span>
          </td>
        </tr>
        <tr *ngIf="game.kind === 'INDOOR'">
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">V</span></td>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">VI</span></td>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">I</span></td>
        </tr>
        <tr *ngIf="game.kind === 'INDOOR_4X4'">
          <td class="mx-1 text-center"></td>
          <td class="mx-1 text-center"><span class="player-badge vbr-text-color">I</span></td>
          <td class="mx-1 text-center"></td>
        </tr>
        <tr *ngIf="game.kind === 'INDOOR'">
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, rightTeam)" [style.color]="utils.getTeamTextColor(game, rightTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, rightTeam)" [innerHTML]="getPlayerAt(rightTeam, 5)"></span>
          </td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, rightTeam)" [style.color]="utils.getTeamTextColor(game, rightTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, rightTeam)" [innerHTML]="getPlayerAt(rightTeam, 6)"></span>
          </td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, rightTeam)" [style.color]="utils.getTeamTextColor(game, rightTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, rightTeam)" [innerHTML]="getPlayerAt(rightTeam, 1)"></span>
          </td>
        </tr>
        <tr *ngIf="game.kind === 'INDOOR_4X4'">
          <td class="mx-1 text-center"></td>
          <td class="mx-1 text-center">
            <span class="badge player-badge" [style.background-color]="utils.getTeamBackgroundColor(game, rightTeam)" [style.color]="utils.getTeamTextColor(game, rightTeam)"
              [style.border-color]="utils.getTeamBorderColor(game, rightTeam)" [innerHTML]="getPlayerAt(rightTeam, 1)"></span>
          </td>
          <td class="mx-1 text-center"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
