<div class="modal-header">
  <h5 class="modal-title vbr-text">Create league</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="league">
  <form class="needs-validation" (submit)="onSubmitForm()" novalidate autocomplete="off">
    <div class="row mb-3">
      <div class="col-12 col-sm-10">
        <label [ngClass]="undefinedName ? 'vbr-error-label' : ''" class="vbr-text" for="name">League name</label>
        <input type="text" [ngClass]="undefinedName ? 'vbr-error-input' : ''" class="vbr-text form-control"
          name="name" id="name" [(ngModel)]="league.name" placeholder="" required/>
        <div class="vbr-error-feedback" *ngIf="undefinedName">
          Please enter a name for the league.
        </div>
      </div>
    </div>

    <div class="row mb-3" *ngIf="invalidResponse">
      <div class="col-12 col-sm-10">
        <p class="alert alert-danger">
          The league could not be created. Is the name already taken?
        </p>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn cancel-button" (click)="close()">Cancel</button>
      <button type="submit" class="btn vbr-button">Create</button>
    </div>
  </form>
</div>
