<div *ngIf="!signedIn" class="text-center">
  <div class="max-width">
    <p class="mx-1 px-1 alert alert-info">
      When you sign in, you can create your own teams and rules which you can then use to schedule games and tournaments.
    </p>
  </div>
  <ul class="list-unstyled list-inline mb-3 px-1">
    <li class="list-inline-item my-1"><button class="btn btn-facebook" (click)="signInWithFB()"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Sign in with Facebook</button></li>
    <li class="list-inline-item my-1"><button class="btn btn-google" (click)="signInWithGoogle()"><i class="fa fa-google"></i>&nbsp;&nbsp;Sign in with Google</button></li>
  </ul>
</div>
<div *ngIf="signedIn && !user" class="text-center">
  <div class="max-width">
    <p class="mx-1 px-1 alert alert-warning">
      You signed in with an account that is not registered. If you purchased the web services package in the app, please open the app and create your pseudo.
    </p>
  </div>
</div>
<div *ngIf="!signedIn || !user" class="div-user text-center">
  <div class="row m-1">
    <div class="px-1 col-12 col-sm-12 col-md-6">
      <div class="jumbotron div-jumbotron p-4">
        <p class="lead vbr-text">Statistics</p>
        <hr class="mt-2 mb-4"/>
        <app-statistics [showUserStatistics]="false"></app-statistics>
      </div>
    </div>
  </div>
</div>
<div *ngIf="signedIn && user" class="div-user text-center">
  <div class="max-width">
    <p class="mx-1 px-1 alert alert-info">
      Hello {{user.pseudo}}!
    </p>
  </div>
  <div class="row m-1">
    <div class="px-1 col-12 col-sm-12 col-md-6" *ngIf="friendRequestsReceivedBy && friendRequestsReceivedBy.length > 0">
      <div class="jumbotron div-jumbotron p-4 my-1">
        <p class="lead vbr-text">New colleagues</p>
        <hr class="mt-2 mb-4"/>
        <app-colleague-request-item *ngFor="let friendRequest of friendRequestsReceivedBy" [friendRequest]="friendRequest"
          (mustRefreshFriendRequestsReceivedBy)="refreshFriendRequestsReceivedBy()"></app-colleague-request-item>
      </div>
    </div>
    <div class="px-1 col-12 col-sm-12 col-md-6" *ngIf="availableGames && availableGames.length > 0">
      <div class="jumbotron div-jumbotron p-4 my-1">
        <p class="lead vbr-text">Upcoming & live games</p>
        <hr class="mt-2 mb-4"/>
        <app-game-list-item *ngFor="let game of availableGames" [gameDescription]="game" [inLeague]="false"></app-game-list-item>
      </div>
    </div>
    <div class="px-1 col-12 col-sm-12 col-md-6">
      <div class="jumbotron div-jumbotron p-4 my-1">
        <p class="lead vbr-text">Statistics</p>
        <hr class="mt-2 mb-4"/>
        <app-statistics [showUserStatistics]="true"></app-statistics>
      </div>
    </div>
  </div>
</div>
<div class="div-footer">
  <app-links-bar></app-links-bar>
</div>
