<form [formGroup]="passwordResetFormGroup" autocomplete="off" novalidate (ngSubmit)="resetPassword()"class="mt-4">
  <mat-card class="div-small-form">
    <mat-card-header>
      <img mat-card-avatar src="favicon.ico"/>
      <mat-card-title>Reset my password</mat-card-title>
      <mat-card-subtitle>Volleyball Referee</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="mx-1">
        The password must contain at least 8 characters, including 1 uppercase character, 1 digit, and 1 special character.
      </p>
      <mat-form-field class="m-1" appearance="outline">
        <mat-label>New password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" cdkFocusInitial required>
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{passwordVisibility}}</mat-icon>
        </button>
        <mat-error *ngIf="newPasswordFormControl.errors?.required">New password is required</mat-error>
        <mat-error *ngIf="newPasswordFormControl.errors?.minlength">Password must contain at least 8 characters</mat-error>
      </mat-form-field>
      <mat-form-field class="m-1" appearance="outline">
        <mat-label>Confirm new password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmedPassword" required>
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{passwordVisibility}}</mat-icon>
        </button>
        <mat-error *ngIf="confirmedPasswordFormControl.errors?.required">New password confirmation is required</mat-error>
        <mat-error *ngIf="confirmedPasswordFormControl.errors?.minlength">Password must contain at least 8 characters</mat-error>
      </mat-form-field>
      <p class="mx-1" *ngIf="passwordResetFormGroup.errors?.mismatch">
        <mat-error>Passwords do not match.</mat-error>
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="submit" [disabled]="!passwordResetFormGroup.valid">Reset password</button>
    </mat-card-actions>
  </mat-card>
</form>