<div class="comp-container p-2 text-center" *ngIf="game">
  <div class="card-text vbr-text text-center">{{game.scheduledAt | date : 'mediumDate'}}</div>
  <div class="div-summary my-2" *ngIf="game">
    <span class="card-text vbr-text text-center small-line">{{getTeamName(leftTeam)}}</span>
    <span class="badge text-center set-badge" [style.background-color]="utils.getTeamBackgroundColor(game, leftTeam)" [style.color]="utils.getTeamTextColor(game, leftTeam)"
      [style.border-color]="utils.getTeamBorderColor(game, leftTeam)">{{getTeamSets(leftTeam)}}</span>
    <button class="btn btn-sm vbr-button-inverted rounded-circle" (click)="swapTeams()"><i class="fa fa-exchange"></i></button>
    <span class="badge text-center set-badge" [style.background-color]="utils.getTeamBackgroundColor(game, rightTeam)" [style.color]="utils.getTeamTextColor(game, rightTeam)"
      [style.border-color]="utils.getTeamBorderColor(game, rightTeam)">{{getTeamSets(rightTeam)}}</span>
    <span class="card-text vbr-text text-center small-line">{{getTeamName(rightTeam)}}</span>
  </div>
  <div>
    <span class="card-text vbr-text text-center ml-2" *ngIf="game.league?.name?.length">
      {{game.league.name}}
      <span *ngIf="game.league?.division?.length">&nbsp;/&nbsp;{{game.league.division}}</span>
    </span>
    <span class="card-text vbr-text text-center ml-2" *ngIf="game.refereeName?.length"><i class="fa fa-user mx-1"></i>by {{game.refereeName}}</span>
  </div>
  <div>
    <span class="chip vbr-mixed-chip" *ngIf="game.gender === 'MIXED'"><i class="fa fa-intersex"></i></span>
    <span class="chip vbr-ladies-chip" *ngIf="game.gender === 'LADIES'"><i class="fa fa-venus"></i></span>
    <span class="chip vbr-gents-chip" *ngIf="game.gender === 'GENTS'"><i class="fa fa-mars"></i></span>
    <button type="button" class="btn btn-sm vbr-button-inverted rounded-circle ml-2" (click)="viewRules()"><i class="fa fa-book"></i></button>
  </div>
</div>
