<div fxLayout="row wrap" fxLayoutAlign="center start">
  <mat-card class="div-small-form mt-4" *ngIf="availableGames?.length > 0">
    <mat-card-header>
      <mat-card-title>{{ 'user.management.dashboard-games' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let game of availableGames" class="my-3">
        <app-game-list-item [gameSummary]="game" [inLeague]="false"></app-game-list-item>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="div-small-form mt-4">
    <mat-card-header>
      <mat-card-title>{{ 'user.management.statistics' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-statistics [showUserStatistics]="true"></app-statistics>
    </mat-card-content>
  </mat-card>
</div>
