.div-card {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.max-width {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.div-sign-in {
	max-width: 1500px;
	margin: 0 auto;
}

.btn-facebook {
	color: var(--vbr-inverted-text-color);
	background-color: var(--facebook-color);
	border-color: var(--facebook-color);
}

.btn-facebook:hover {
	filter: var(--vbr-hover-brighter);
}

.btn-google {
	color: var(--vbr-inverted-text-color);
	background-color: var(--google-color);
	border-color: var(--google-color);
}

.btn-google:hover {
	filter: var(--vbr-hover-brighter);
}
