<div class="text-center" *ngIf="statistics">
  <div class="my-1 chart-wrapper" *ngIf="gameStatisticsData">
    <ngx-charts-advanced-pie-chart
      [scheme]="colorScheme"
      [results]="gameStatisticsData"
      label="Total games"
      labels="true"
      autoScale="true">
    </ngx-charts-advanced-pie-chart>
  </div>
  <div class="my-1 chart-wrapper" *ngIf="teamStatisticsData">
    <ngx-charts-advanced-pie-chart
      [scheme]="colorScheme"
      [results]="teamStatisticsData"
      label="Total teams"
      labels="true"
      autoScale="true">
    </ngx-charts-advanced-pie-chart>
  </div>
</div>
